In [ ]:

https://stackoverflow.com/questions/63107594/how-to-deal-with-multi-level-column-names-downloaded-with-yfinance/63107801#63107801
https://blog.data.nasdaq.com/the-comprehensive-guide-to-stock-price-calculation

In [ ]:
'''An example file that imports some of the installed modules'''
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
import flake8
from platform import python_version

print("python_path: ", sys.executable)
print("python_version: ", python_version())
print("pandas_version: ", pd.__version__)
print("numpy_version: ", np.__version__)
# print("yfinance_version: ", yf.__version__)
if __name__ == "__main__":
    # If the modules can't be imported, the following print won't happen
    print("Successfully imported the modules!")

In [11]:
# prd = 'max'
# intv = '1d'
# tickerStrings = ['AAPL', 'MSFT']
# for ticker in tickerStrings:
#     data = yf.download(ticker, group_by="Ticker", period=prd, interval=intv)
#     # data['ticker'] = ticker  # add this column because the dataframe doesn't contain a column with the ticker
#     # data.to_csv(f'ticker_{ticker}.csv')  # ticker_AAPL.csv for example
#     data.to_csv(f'ticker_{ticker}.csv')  # ticker_AAPL.csv for example

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [1]:
import yfinance as yf
import pandas as pd

tickerStrings = ['AAPL', 'MSFT']
df_list = list()
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", period='max')
    data['ticker'] = ticker  # add this column because the dataframe doesn't contain a column with the ticker
    df_list.append(data)

# combine all dataframes into a single dataframe
df = pd.concat(df_list)

# # save to csv
# df.to_csv('ticker.csv')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [2]:
df

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100178,469033600,AAPL
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094952,175884800,AAPL
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087983,105728000,AAPL
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090160,86441600,AAPL
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092774,73449600,AAPL
...,...,...,...,...,...,...,...
2022-07-12,265.880005,265.940002,252.039993,253.669998,253.669998,35868500,MSFT
2022-07-13,250.190002,253.550003,248.110001,252.720001,252.720001,29497400,MSFT
2022-07-14,250.570007,255.139999,245.940002,254.080002,254.080002,25102800,MSFT
2022-07-15,255.720001,260.369995,254.770004,256.720001,256.720001,29572500,MSFT
2022-07-18,259.750000,260.839996,253.300003,254.250000,254.250000,20956300,MSFT

In [6]:
df['AdjFactor']=df['Adj Close']/df['Close']
df['AdjOpen'] = df['Open'] * df['AdjFactor']
df['AdjHigh'] = df['High'] * df['AdjFactor']
df['AdjLow'] = df['Low'] * df['AdjFactor']
df['AdjClose'] = df['Close'] * df['AdjFactor']

In [7]:
df

,Open,High,Low,Close,Adj Close,Volume,ticker,AdjFactor,AdjOpen,AdjHigh,AdjLow,AdjClose
Date,,,,,,,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100178,469033600,AAPL,0.780522,0.100178,0.100614,0.100178,0.100178
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094952,175884800,AAPL,0.780522,0.095388,0.095388,0.094952,0.094952
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087983,105728000,AAPL,0.780522,0.088418,0.088418,0.087983,0.087983
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090160,86441600,AAPL,0.780522,0.090160,0.090596,0.090160,0.090160
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092774,73449600,AAPL,0.780522,0.092774,0.093210,0.092774,0.092774
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-12,265.880005,265.940002,252.039993,253.669998,253.669998,35868500,MSFT,1.000000,265.880005,265.940002,252.039993,253.669998
2022-07-13,250.190002,253.550003,248.110001,252.720001,252.720001,29497400,MSFT,1.000000,250.190002,253.550003,248.110001,252.720001
2022-07-14,250.570007,255.139999,245.940002,254.080002,254.080002,25102800,MSFT,1.000000,250.570007,255.139999,245.940002,254.080002
2022-07-15,255.720001,260.369995,254.770004,256.720001,256.720001,29572500,MSFT,1.000000,255.720001,260.369995,254.770004,256.720001
2022-07-18,259.750000,260.839996,253.300003,254.250000,254.250000,20956300,MSFT,1.000000,259.750000,260.839996,253.300003,254.250000

In [10]:
dfAdj = df[['AdjOpen', 'AdjHigh', 'AdjLow', 'AdjClose', 'Volume', 'ticker']]
dfAdj

               AdjOpen     AdjHigh      AdjLow    AdjClose     Volume ticker
Date
1980-12-12    0.100178    0.100614    0.100178    0.100178  469033600   AAPL
1980-12-15    0.095388    0.095388    0.094952    0.094952  175884800   AAPL
1980-12-16    0.088418    0.088418    0.087983    0.087983  105728000   AAPL
1980-12-17    0.090160    0.090596    0.090160    0.090160   86441600   AAPL
1980-12-18    0.092774    0.093210    0.092774    0.092774   73449600   AAPL
...                ...         ...         ...         ...        ...    ...
2022-07-12  265.880005  265.940002  252.039993  253.669998   35868500   MSFT
2022-07-13  250.190002  253.550003  248.110001  252.720001   29497400   MSFT
2022-07-14  250.570007  255.139999  245.940002  254.080002   25102800   MSFT
2022-07-15  255.720001  260.369995  254.770004  256.720001   29572500   MSFT
2022-07-18  259.750000  260.839996  253.300003  254.250000   20956300   MSFT

[19648 rows x 6 columns]

In [11]:
dfAdj.loc[dfAdj['ticker'] == 'MSFT', :]

               AdjOpen     AdjHigh      AdjLow    AdjClose      Volume ticker
Date
1986-03-13    0.055654    0.063838    0.055654    0.061109  1031788800   MSFT
1986-03-14    0.061109    0.064383    0.061109    0.063292   308160000   MSFT
1986-03-17    0.063292    0.064929    0.063292    0.064384   133171200   MSFT
1986-03-18    0.064384    0.064929    0.062201    0.062746    67766400   MSFT
1986-03-19    0.062746    0.063292    0.061109    0.061655    47894400   MSFT
...                ...         ...         ...         ...         ...    ...
2022-07-12  265.880005  265.940002  252.039993  253.669998    35868500   MSFT
2022-07-13  250.190002  253.550003  248.110001  252.720001    29497400   MSFT
2022-07-14  250.570007  255.139999  245.940002  254.080002    25102800   MSFT
2022-07-15  255.720001  260.369995  254.770004  256.720001    29572500   MSFT
2022-07-18  259.750000  260.839996  253.300003  254.250000    20956300   MSFT

[9161 rows x 6 columns]

In [31]:
# pd.set_option('display.max_columns', 200)
pd.set_option('display.width', 200)
for ticker in tickerStrings:
  print(ticker)
  print(df.loc[df['ticker'] == ticker, :], "\n")

AAPL
                  Open        High         Low       Close   Adj Close     Volume ticker
Date
1980-12-12    0.128348    0.128906    0.128348    0.128348    0.100178  469033600   AAPL
1980-12-15    0.122210    0.122210    0.121652    0.121652    0.094952  175884800   AAPL
1980-12-16    0.113281    0.113281    0.112723    0.112723    0.087983  105728000   AAPL
1980-12-17    0.115513    0.116071    0.115513    0.115513    0.090160   86441600   AAPL
1980-12-18    0.118862    0.119420    0.118862    0.118862    0.092774   73449600   AAPL
...                ...         ...         ...         ...         ...        ...    ...
2022-07-12  145.759995  148.449997  145.050003  145.860001  145.860001   77588800   AAPL
2022-07-13  142.990005  146.449997  142.119995  145.490005  145.490005   71185600   AAPL
2022-07-14  144.080002  148.949997  143.250000  148.470001  148.470001   78140700   AAPL
2022-07-15  149.779999  150.860001  148.199997  150.169998  150.169998   76030800   AAPL
2022-07-18  150.740005  151.570007  146.699997  147.070007  147.070007   81264900   AAPL

[10487 rows x 7 columns]

MSFT
                  Open        High         Low       Close   Adj Close      Volume ticker
Date
1986-03-13    0.088542    0.101563    0.088542    0.097222    0.061109  1031788800   MSFT
1986-03-14    0.097222    0.102431    0.097222    0.100694    0.063292   308160000   MSFT
1986-03-17    0.100694    0.103299    0.100694    0.102431    0.064384   133171200   MSFT
1986-03-18    0.102431    0.103299    0.098958    0.099826    0.062746    67766400   MSFT
1986-03-19    0.099826    0.100694    0.097222    0.098090    0.061655    47894400   MSFT
...                ...         ...         ...         ...         ...         ...    ...
2022-07-12  265.880005  265.940002  252.039993  253.669998  253.669998    35868500   MSFT
2022-07-13  250.190002  253.550003  248.110001  252.720001  252.720001    29497400   MSFT
2022-07-14  250.570007  255.139999  245.940002  254.080002  254.080002    25102800   MSFT
2022-07-15  255.720001  260.369995  254.770004  256.720001  256.720001    29572500   MSFT
2022-07-18  259.750000  260.839996  253.300003  254.250000  254.250000    20956300   MSFT

[9161 rows x 7 columns]