In [1]:
import pandas as pd
from myUtils import pickle_load, symb_perf_stats_vectorized, symb_perf_stats_vectorized_v1

file_close = 'df_close_clean'
path_dir = "C:/Users/ping/MyDrive/stocks/yfinance"
path_data_dump = path_dir + "/VSCode_dump/"

df_c = pickle_load(path_data_dump, file_close)
df_c = df_c[-252::]
format1 = 'df_c({}):\n{}\n{}'.format(len(df_c), df_c.head(3), df_c.tail(3))
# print(format1)

In [2]:
df_c

,A,AA,AAL,AAON,AAP,AAPL,AAT,AAWW,AB,ABB,...,ZBH,ZBRA,ZD,ZEUS,ZG,ZION,ZTO,ZTS,ZUMZ,ZWS
Date,,,,,,,,,,,,,,,,,,,,,
2021-12-16,149.840393,52.203499,16.520000,76.904045,233.287918,171.265991,33.926147,89.059998,43.967079,36.431751,...,116.733490,592.039978,107.440002,22.700001,58.029999,63.470001,28.000000,232.436722,45.000000,35.250000
2021-12-17,150.456436,53.335121,16.950001,77.380905,227.103592,170.152481,34.185051,87.300003,43.268318,35.817898,...,117.101692,588.520020,108.660004,25.280001,61.060001,61.200001,27.850000,233.934311,44.779999,34.970001
2021-12-20,149.462799,52.719673,17.299999,76.516586,222.782349,168.770493,33.417923,87.980003,41.870781,35.623024,...,115.202492,570.780029,107.680000,22.209999,58.340000,59.400002,26.920000,233.884384,42.610001,34.169998
2021-12-21,152.980270,56.372627,18.120001,77.400772,223.933395,171.991791,34.626148,89.139999,42.909737,36.051746,...,118.661766,580.210022,109.260002,22.830000,60.779999,61.650002,27.750000,237.258972,44.459999,35.509998
2021-12-22,155.782318,58.874111,18.260000,78.086258,227.074310,174.626495,34.846695,91.419998,43.921112,36.061489,...,120.861351,580.429993,109.129997,22.559999,60.799999,61.860001,27.690001,241.182678,45.119999,35.970001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-09,152.949997,45.080002,13.530000,80.500000,145.899994,142.160004,27.160000,100.540001,38.540001,31.030001,...,124.400002,251.449997,85.910004,32.939999,34.049999,47.490002,25.719999,153.389999,22.700001,24.250000
2022-12-12,155.330002,45.810001,14.200000,79.559998,145.929993,144.490005,27.000000,100.760002,38.840000,31.299999,...,126.129997,258.100006,85.870003,32.970001,34.450001,48.400002,25.770000,152.860001,22.790001,24.580000
2022-12-13,157.660004,46.169998,13.460000,79.650002,145.679993,145.470001,27.379999,100.610001,39.509998,31.750000,...,128.429993,263.269989,85.470001,33.270000,37.070000,48.279999,26.500000,154.970001,22.950001,24.950001
2022-12-14,154.809998,45.500000,13.350000,79.769997,143.460007,143.210007,27.580000,100.599998,39.240002,31.709999,...,128.240005,261.500000,84.830002,33.290001,37.139999,47.540001,26.670000,151.779999,22.469999,24.120001
2022-12-15,150.860001,43.270000,12.930000,78.269997,143.229996,136.500000,27.209999,100.550003,38.169998,30.490000,...,127.019997,251.039993,80.879997,31.370001,35.380001,46.889999,26.860001,148.710007,20.950001,21.719999

In [3]:
# symbols, period_yr, drawdown, UI, max_drawdown, returns_std, Std_UI, CAGR, CAGR_Std, CAGR_UI = \
    # symb_perf_stats_vectorized(df_c)
symbols, period_yr, drawdown, UI, max_drawdown, returns_std, Std_UI, CAGR, CAGR_Std, CAGR_UI = \
    symb_perf_stats_vectorized(df_c)    
caches_perf_stats_vect = []

In [4]:
drawdown

,A,AA,AAL,AAON,AAP,AAPL,AAT,AAWW,AB,ABB,...,ZBH,ZBRA,ZD,ZEUS,ZG,ZION,ZTO,ZTS,ZUMZ,ZWS
Date,,,,,,,,,,,,,,,,,,,,,
2021-12-16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2021-12-17,0.000000,0.000000,0.000000,0.000000,-0.026509,-0.006502,0.000000,-0.019762,-0.015893,-0.016849,...,0.000000,-0.005945,0.000000,0.000000,0.000000,-0.035765,-0.005357,0.000000,-0.004889,-0.007943
2021-12-20,-0.006604,-0.011539,0.000000,-0.011170,-0.045033,-0.014571,-0.022440,-0.012127,-0.047679,-0.022198,...,-0.016218,-0.035910,-0.009019,-0.121440,-0.044546,-0.064125,-0.038571,-0.000213,-0.053111,-0.030638
2021-12-21,0.000000,0.000000,0.000000,0.000000,-0.040099,0.000000,0.000000,0.000000,-0.024049,-0.010431,...,0.000000,-0.019982,0.000000,-0.096915,-0.004586,-0.028675,-0.008929,0.000000,-0.012000,0.000000
2021-12-22,0.000000,0.000000,0.000000,0.000000,-0.026635,0.000000,0.000000,0.000000,-0.001045,-0.010163,...,0.000000,-0.019610,-0.001190,-0.107595,-0.004258,-0.025366,-0.011071,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-09,-0.043203,-0.522789,-0.330861,0.000000,-0.381037,-0.214411,-0.277066,-0.005932,-0.180822,-0.183432,...,-0.070601,-0.585292,-0.241078,-0.224211,-0.475185,-0.360920,-0.186076,-0.378066,-0.533977,-0.344240
2022-12-12,-0.028314,-0.515061,-0.297725,-0.011677,-0.380910,-0.201535,-0.281325,-0.003757,-0.174445,-0.176326,...,-0.057677,-0.574324,-0.241431,-0.223504,-0.469020,-0.348674,-0.184494,-0.380215,-0.532129,-0.335316
2022-12-13,-0.013739,-0.511251,-0.334322,-0.010559,-0.381970,-0.196119,-0.271211,-0.005240,-0.160204,-0.164485,...,-0.040493,-0.565798,-0.244965,-0.216439,-0.428637,-0.350289,-0.161392,-0.371660,-0.528844,-0.325311
2022-12-14,-0.031567,-0.518343,-0.339763,-0.009068,-0.391388,-0.208608,-0.265887,-0.005339,-0.165943,-0.165537,...,-0.041913,-0.568717,-0.250618,-0.215968,-0.427559,-0.360248,-0.156013,-0.384594,-0.538698,-0.347756
2022-12-15,-0.056277,-0.541950,-0.360534,-0.027702,-0.392364,-0.245689,-0.275736,-0.005833,-0.188687,-0.197642,...,-0.051027,-0.585968,-0.285512,-0.261187,-0.454686,-0.368995,-0.150000,-0.397042,-0.569903,-0.412656

In [5]:
def perf_eval_0(df_close):
  '''
  df_close is a dataframe with date index, columns of symbols' closing price, and symbol as column name 
  '''
  # %%timeit
  symbols, period_yr, drawdown, UI, max_drawdown, returns_std, Std_UI, CAGR, CAGR_Std, CAGR_UI = \
      symb_perf_stats_vectorized(df_close)
  caches_perf_stats_vect = []
  for symbol in symbols:
      date_first = drawdown.index[0].strftime('%Y-%m-%d')
      date_last = drawdown.index[-1].strftime('%Y-%m-%d')
      cache = (symbol, date_first, date_last, period_yr, CAGR[symbol],
              UI[symbol], Std_UI[symbol], CAGR_Std[symbol], CAGR_UI[symbol])
      # append performance data (tuple) to caches_perf_stats (list)
      caches_perf_stats_vect.append(cache)
  column_names = ['symbol', 'first date', 'last date', 'Year', 'CAGR',
                  'UI', 'Std/UI', 'CAGR/Std', 'CAGR/UI']
  # write symbols' performance stats to dataframe
  df_perf = pd.DataFrame(caches_perf_stats_vect, columns=column_names)

  _cols = ['CAGR', 'UI', 'Std/UI', 'CAGR/Std', 'CAGR/UI']
  # print(f'df_perf mean:\n{df_perf[_cols].mean()}\n')
  # print(f'df_perf std:\n{df_perf[_cols].std()}')
  grp_CAGRUI_mean = df_perf['CAGR/UI'].mean()
  grp_CAGRUI_std = df_perf['CAGR/UI'].std()
  grp_CAGRUI_mean_std = grp_CAGRUI_mean / grp_CAGRUI_std
  grp_CAGRUI_mean_std

  grp_CAGRStd_mean = df_perf['CAGR/Std'].mean()
  grp_CAGRStd_std = df_perf['CAGR/Std'].std()
  grp_CAGRStd_mean_std = grp_CAGRStd_mean / grp_CAGRStd_std
  grp_CAGRStd_mean_std

  grp_StdUI_mean = df_perf['Std/UI'].mean()
  grp_StdUI_std = df_perf['Std/UI'].std()
  grp_StdUI_mean_std = grp_StdUI_mean / grp_StdUI_std
  grp_StdUI_mean_std

  return df_perf, grp_StdUI_mean_std, grp_CAGRStd_mean_std, grp_CAGRUI_mean_std

In [6]:
df_perf, grp_StdUI_mean_std, grp_CAGRStd_mean_std, grp_CAGRUI_mean_std = perf_eval_0(df_c)
print(f'grp_StdUI_mean_std :{grp_StdUI_mean_std:.6f}')
print(f'grp_CAGRStd_mean_std :{grp_CAGRStd_mean_std:.6f}')
print(f'grp_CAGRUI_mean_std :{grp_CAGRUI_mean_std:.6f}')
df_perf.head()

grp_StdUI_mean_std :2.033230
grp_CAGRStd_mean_std :-0.267333
grp_CAGRUI_mean_std :0.077274

,symbol,first date,last date,Year,CAGR,UI,Std/UI,CAGR/Std,CAGR/UI
0,A,2021-12-16,2022-12-15,1.0,0.006805,0.182284,0.122157,0.305589,0.037330
1,AA,2021-12-16,2022-12-15,1.0,-0.171128,0.398307,0.105001,-4.091785,-0.429640
2,AAL,2021-12-16,2022-12-15,1.0,-0.217312,0.249233,0.142272,-6.128557,-0.871923
3,AAON,2021-12-16,2022-12-15,1.0,0.017762,0.266508,0.092177,0.723024,0.066646
4,AAP,2021-12-16,2022-12-15,1.0,-0.386038,0.212669,0.110488,-16.428958,-1.815207

In [7]:
def perf_eval_1(df_close):
  '''
  df_close is a dataframe with date index, columns of symbols' closing price, and symbol as column name 
  '''
  # %%timeit
  symbols, period_yr, drawdown, UI, max_drawdown, returns_std, Std_UI, CAGR, CAGR_Std, CAGR_UI = \
      symb_perf_stats_vectorized_v1(df_close)
  caches_perf_stats_vect = []
  for symbol in symbols:
      # date_first = drawdown.index[0].strftime('%Y-%m-%d')
      # date_last = drawdown.index[-1].strftime('%Y-%m-%d')
      date_first = df_close.index[0].strftime('%Y-%m-%d')
      date_last = df_close.index[-1].strftime('%Y-%m-%d')

      cache = (symbol, date_first, date_last, period_yr, CAGR[symbol],
              UI[symbol], Std_UI[symbol], CAGR_Std[symbol], CAGR_UI[symbol])
      # append performance data (tuple) to caches_perf_stats (list)
      caches_perf_stats_vect.append(cache)
  column_names = ['symbol', 'first date', 'last date', 'Year', 'CAGR',
                  'UI', 'Std/UI', 'CAGR/Std', 'CAGR/UI']
  # write symbols' performance stats to dataframe
  df_perf = pd.DataFrame(caches_perf_stats_vect, columns=column_names)

  _cols = ['CAGR', 'UI', 'Std/UI', 'CAGR/Std', 'CAGR/UI']
  # print(f'df_perf mean:\n{df_perf[_cols].mean()}\n')
  # print(f'df_perf std:\n{df_perf[_cols].std()}')
  grp_CAGRUI_mean = df_perf['CAGR/UI'].mean()
  grp_CAGRUI_std = df_perf['CAGR/UI'].std()
  grp_CAGRUI_mean_std = grp_CAGRUI_mean / grp_CAGRUI_std
  grp_CAGRUI_mean_std

  grp_CAGRStd_mean = df_perf['CAGR/Std'].mean()
  grp_CAGRStd_std = df_perf['CAGR/Std'].std()
  grp_CAGRStd_mean_std = grp_CAGRStd_mean / grp_CAGRStd_std
  grp_CAGRStd_mean_std

  grp_StdUI_mean = df_perf['Std/UI'].mean()
  grp_StdUI_std = df_perf['Std/UI'].std()
  grp_StdUI_mean_std = grp_StdUI_mean / grp_StdUI_std
  grp_StdUI_mean_std

  return df_perf, grp_StdUI_mean_std, grp_CAGRStd_mean_std, grp_CAGRUI_mean_std

In [8]:
df_perf, grp_StdUI_mean_std, grp_CAGRStd_mean_std, grp_CAGRUI_mean_std = perf_eval_1(df_c)
print(f'grp_StdUI_mean_std :{grp_StdUI_mean_std:.6f}')
print(f'grp_CAGRStd_mean_std :{grp_CAGRStd_mean_std:.6f}')
print(f'grp_CAGRUI_mean_std :{grp_CAGRUI_mean_std:.6f}')
df_perf.head()

IndexError: invalid index to scalar variable.

In [14]:
symbols, period_yr, drawdown, UI, max_drawdown, returns_std, Std_UI, CAGR, CAGR_Std, CAGR_UI = \
    symb_perf_stats_vectorized_v1(df_c)
caches_perf_stats_vect = []
# for symbol in symbols:
for symbol in symbols[:3]:
    # date_first = drawdown.index[0].strftime('%Y-%m-%d')
    # date_last = drawdown.index[-1].strftime('%Y-%m-%d')
    date_first = df_c.index[0].strftime('%Y-%m-%d')
    date_last = df_c.index[-1].strftime('%Y-%m-%d')
    # print('1', date_first, date_last)
    # print('2', CAGR[symbol], CAGR)
    # # print(UI[symbol])
    # print('3 +++++++++', UI)    
    # print('4', Std_UI[symbol], Std_UI)
    # print('5', CAGR_Std[symbol], CAGR_Std)
    # print('6', CAGR_UI[symbol], CAGR_UI)

    print('0', symbols[:3])
    print('1', date_first, date_last)
    print('2', CAGR)
    # print(UI[symbol])
    print('3', UI)    
    print('4', Std_UI)
    print('5', CAGR_Std)
    print('6', CAGR_UI)    

    # cache = (symbol, date_first, date_last, period_yr, CAGR[symbol],
    #         UI[symbol], Std_UI[symbol], CAGR_Std[symbol], CAGR_UI[symbol])

0 Index(['A', 'AA', 'AAL'], dtype='object')
1 2021-12-16 2022-12-15
2 A       0.006805
AA     -0.171128
AAL    -0.217312
AAON    0.017762
AAP    -0.386038
          ...
ZION   -0.261226
ZTO    -0.040714
ZTS    -0.360213
ZUMZ   -0.534444
ZWS    -0.383830
Length: 2297, dtype: float64
3 11.25913375598523
4 A       0.001978
AA      0.003715
AAL     0.003149
AAON    0.002182
AAP     0.002087
          ...
ZION    0.002142
ZTO     0.003178
ZTS     0.001785
ZUMZ    0.002983
ZWS     0.002415
Length: 2297, dtype: float64
5 A        0.305589
AA      -4.091785
AAL     -6.128557
AAON     0.723024
AAP    -16.428958
          ...
ZION   -10.832413
ZTO     -1.137845
ZTS    -17.920803
ZUMZ   -15.910241
ZWS    -14.115135
Length: 2297, dtype: float64
6 A       0.000604
AA     -0.015199
AAL    -0.019301
AAON    0.001578
AAP    -0.034287
          ...
ZION   -0.023201
ZTO    -0.003616
ZTS    -0.031993
ZUMZ   -0.047468
ZWS    -0.034091
Length: 2297, dtype: float64
0 Index(['A', 'AA', 'AAL'], dtype='object')
1 2021-12-16 2022-12-15
2 A       0.006805
AA     -0.171128
AAL    -0.217312
AAON    0.017762
AAP    -0.386038
          ...
ZION   -0.261226
ZTO    -0.040714
ZTS    -0.360213
ZUMZ   -0.534444
ZWS    -0.383830
Length: 2297, dtype: float64
3 11.25913375598523
4 A       0.001978
AA      0.003715
AAL     0.003149
AAON    0.002182
AAP     0.002087
          ...
ZION    0.002142
ZTO     0.003178
ZTS     0.001785
ZUMZ    0.002983
ZWS     0.002415
Length: 2297, dtype: float64
5 A        0.305589
AA      -4.091785
AAL     -6.128557
AAON     0.723024
AAP    -16.428958
          ...
ZION   -10.832413
ZTO     -1.137845
ZTS    -17.920803
ZUMZ   -15.910241
ZWS    -14.115135
Length: 2297, dtype: float64
6 A       0.000604
AA     -0.015199
AAL    -0.019301
AAON    0.001578
AAP    -0.034287
          ...
ZION   -0.023201
ZTO    -0.003616
ZTS    -0.031993
ZUMZ   -0.047468
ZWS    -0.034091
Length: 2297, dtype: float64
0 Index(['A', 'AA', 'AAL'], dtype='object')
1 2021-12-16 2022-12-15
2 A       0.006805
AA     -0.171128
AAL    -0.217312
AAON    0.017762
AAP    -0.386038
          ...
ZION   -0.261226
ZTO    -0.040714
ZTS    -0.360213
ZUMZ   -0.534444
ZWS    -0.383830
Length: 2297, dtype: float64
3 11.25913375598523
4 A       0.001978
AA      0.003715
AAL     0.003149
AAON    0.002182
AAP     0.002087
          ...
ZION    0.002142
ZTO     0.003178
ZTS     0.001785
ZUMZ    0.002983
ZWS     0.002415
Length: 2297, dtype: float64
5 A        0.305589
AA      -4.091785
AAL     -6.128557
AAON     0.723024
AAP    -16.428958
          ...
ZION   -10.832413
ZTO     -1.137845
ZTS    -17.920803
ZUMZ   -15.910241
ZWS    -14.115135
Length: 2297, dtype: float64
6 A       0.000604
AA     -0.015199
AAL    -0.019301
AAON    0.001578
AAP    -0.034287
          ...
ZION   -0.023201
ZTO    -0.003616
ZTS    -0.031993
ZUMZ   -0.047468
ZWS    -0.034091
Length: 2297, dtype: float64

In [ ]:
symbols, period_yr, drawdown, UI, max_drawdown, returns_std, Std_UI, CAGR, CAGR_Std, CAGR_UI = \
    symb_perf_stats_vectorized(df_c)
caches_perf_stats_vect = []
for symbol in symbols:
    # date_first = drawdown.index[0].strftime('%Y-%m-%d')
    # date_last = drawdown.index[-1].strftime('%Y-%m-%d')
    date_first = df_c.index[0].strftime('%Y-%m-%d')
    date_last = df_c.index[-1].strftime('%Y-%m-%d')
    # print('1', date_first, date_last)
    # print('2', CAGR[symbol], CAGR)
    # # print(UI[symbol])
    # print('3 +++++++++', UI)    
    # print('4', Std_UI[symbol], Std_UI)
    # print('5', CAGR_Std[symbol], CAGR_Std)
    # print('6', CAGR_UI[symbol], CAGR_UI)

    print('1', date_first, date_last)
    print('2', CAGR)
    # print(UI[symbol])
    print('3', UI)    
    print('4', Std_UI)
    print('5', CAGR_Std)
    print('6', CAGR_UI)

In [ ]:
# _cols2 = ['TSBK', 'ELF', 'AVEO', 'ASC', 'TPL', 'AXON', 'NRIM', 'AAON', 'UFPT', 'GILD', 'MOD', 'SANM', 'INSW', 'LOPE', 'AE', 'ABMD', 'RMBS', 'WNC']
_cols2 = ['AE', 'ABMD', 'RMBS', 'WNC']
df_temp = df_c[_cols2].copy()
# df_perf, grp_CAGRUI_mean_std = perf_eval(df_temp)
df_perf, grp_StdUI_mean_std, grp_CAGRStd_mean_std, grp_CAGRUI_mean_std = perf_eval(df_temp)
# print(f'grp_CAGRUI_mean_std :{grp_CAGRUI_mean_std:.6f}')
print(f'grp_StdUI_mean_std: {grp_StdUI_mean_std:.6f}')
print(f'grp_CAGRStd_mean_std: {grp_CAGRStd_mean_std:.6f}')
print(f'grp_CAGRUI_mean_std: {grp_CAGRUI_mean_std:.6f}')
df_perf.head()

In [ ]:
_df = df_perf.loc[df_perf['symbol'].isin(_cols2)]
_means = _df[['Std/UI',	'CAGR/Std', 'CAGR/UI']].mean()
_stds = _df[['Std/UI',	'CAGR/Std', 'CAGR/UI']].std()
_mean_std = _means / _stds
# print(_means, _means[0], _means[1], _means[2])
# print(_stds, _stds[0], _stds[1], _stds[2])
print(_mean_std, _mean_std[0], _mean_std[1], _mean_std[2])
_df

# df.loc[df['points'].isin([7, 9, 12])]

In [ ]:
df_SPY = df_c[['SPY']].copy()
df_SPY
df_perf, grp_StdUI_mean_std, grp_CAGRStd_mean_std, grp_CAGRUI_mean_std = perf_eval(df_SPY)
print(f'grp_StdUI_mean_std: {grp_StdUI_mean_std:.6f}')
print(f'grp_CAGRStd_mean_std: {grp_CAGRStd_mean_std:.6f}')
print(f'grp_CAGRUI_mean_std: {grp_CAGRUI_mean_std:.6f}')
df_perf.head()