In [1]:
# https://towardsdatascience.com/pandas-groupby-a-simple-but-detailed-tutorial-314b8f37005d
# https://towardsdatascience.com/accessing-data-in-a-multiindex-dataframe-in-pandas-569e8767201d
# https://towardsdatascience.com/summarizing-data-with-pandas-crosstab-efc8b9abecf
# https://towardsdatascience.com/how-to-flatten-multiindex-columns-and-rows-in-pandas-f5406c50e569
# https://datascientyst.com/list-aggregation-functions-aggfunc-groupby-pandas/
# https://stackoverflow.com/questions/25929319/how-to-iterate-over-pandas-multiindex-dataframe-using-index
# https://stackoverflow.com/questions/24495695/pandas-get-unique-multiindex-level-values-by-label
# https://stackoverflow.com/questions/55706391/pandas-crosstab-on-multiple-columns-then-groupby

# https://matplotlib.org/stable/gallery/pyplots/pyplot_text.html#sphx-glr-gallery-pyplots-pyplot-text-py

# https://stats.stackexchange.com/questions/346907/splitting-time-series-data-into-train-test-validation-sets

In [2]:
import pandas as pd
import numpy as np
from myUtils import pickle_load, pickle_dump, symb_perf_stats_vectorized

path_dir = "C:/Users/ping/MyDrive/stocks/yfinance/"
path_data_dump = path_dir + "VSCode_dump/"

In [3]:
df = pickle_load(path_data_dump, 'df_train')
print(f"Full path to pickled df_train: {path_data_dump}df_train")
df

Full path to pickled df_train: C:/Users/ping/MyDrive/stocks/yfinance/VSCode_dump/df_train

,A,AA,AAL,AAON,AAP,AAPL,AAT,AAWW,AB,ABB,...,ZBH,ZBRA,ZD,ZEUS,ZG,ZION,ZTO,ZTS,ZUMZ,ZWS
Date,,,,,,,,,,,,,,,,,,,,,
2016-12-12,43.971771,30.942831,45.987797,31.714132,163.949539,26.507965,36.162022,51.750000,13.439626,17.286184,...,98.009514,82.800003,65.736626,25.475792,36.740002,36.675545,12.633360,49.021397,25.400000,20.209557
2016-12-13,44.210026,29.952343,46.229385,31.378283,162.878662,26.950155,36.279823,52.400002,13.410218,17.302446,...,98.861679,84.500000,66.529854,25.591944,36.880001,36.468288,12.132188,49.146534,24.950001,19.720936
2016-12-14,43.971771,30.160345,46.306683,31.282322,162.537476,26.950155,35.219692,51.549999,13.233768,17.034130,...,97.138824,84.529999,66.736412,26.085590,37.090000,36.442394,12.453693,48.944370,25.100000,19.075947
2016-12-15,44.372036,29.506622,46.673897,31.426262,163.873718,27.097546,34.975693,51.900002,13.174951,17.050390,...,95.082474,85.199997,67.372620,26.627623,38.099998,37.167786,12.207834,50.369186,24.980000,19.193214
2016-12-16,43.752563,29.120335,46.026459,31.378283,162.916580,27.132643,35.833889,50.750000,13.174951,17.042257,...,95.869820,84.519997,66.571144,25.795206,37.830002,36.295578,11.952520,50.503971,24.049999,19.232307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-08,122.125572,21.592627,17.770000,79.522232,152.170090,135.488144,27.508579,53.590000,33.610584,27.550789,...,153.170288,420.309998,91.886955,15.201660,169.080002,46.168060,35.942799,158.228821,47.950001,41.175213
2021-02-09,121.957344,21.553009,17.440001,79.848343,154.311859,134.597473,27.527395,55.759998,32.946884,27.797117,...,152.537704,425.269989,94.591301,15.260926,172.929993,47.060104,36.178425,158.040939,47.150002,40.632385
2021-02-10,123.778198,21.354910,17.410000,78.711899,155.454742,133.983917,27.771999,55.560001,31.559912,27.645529,...,153.678299,427.470001,93.939133,14.846065,171.710007,47.050613,36.394417,158.822128,46.779999,40.375774
2021-02-11,125.638641,21.186527,16.990000,78.425301,148.347595,133.726654,28.505812,54.320000,32.929867,27.721323,...,155.470581,470.079987,93.521736,15.409090,200.600006,46.414795,37.238739,162.599350,47.880001,40.632385
2021-02-12,126.648026,21.453960,17.270000,78.277069,146.762894,133.964142,28.298838,56.139999,32.044930,27.967651,...,154.675064,477.739990,93.730438,15.577009,202.940002,47.050613,37.778721,164.843933,46.869999,40.977821