In [1]:
# from yf_utils import _2_split_train_val_test, _3_random_slices, _4_lookback_slices
from yf_utils import _5_perf_ranks, _6_grp_tuples_sort_sum
from myUtils import pickle_load

# verbose = False  # True prints more output
verbose = True  # True prints more output

path_dir = "C:/Users/ping/MyDrive/stocks/yfinance/"
path_data_dump = path_dir + "VSCode_dump/"
fp_df_close_clean = 'df_close_clean'
df_close_clean = pickle_load(path_data_dump, fp_df_close_clean)

In [2]:
# number of days to lookback from last df date for performance evaluation
# days_lookbacks = [30, 120, 60, 240]
# days_lookbacks = [24, 48, 95, 190]
days_lookbacks = [16, 32, 64, 128]  # corresponds to 0.8, 1.5, 3.0, 6.1 months
# days_lookbacks = [15, 30, 60, 120]  # corresponds to 0.8, 1.5, 3.0, 6.1 months
# days_lookbacks = [30, 60, 120]  # corresponds to 0.8, 1.5, 3.0, 6.1 months
days_lookbacks.sort()  # sort list of integers in ascending order

# number of the most-common symbols from days_lookbacks' performance rankings to keep
n_top_syms = 30  

syms_start = 0  # slice start of set_most_common_syms
syms_end = 5  #  slice end of set_most_common_syms

In [3]:
# grp_top_set_syms_n_freq = []  # list of lists of top_set_symbols_n_freq, there are n_samples lists in list
# grp_top_set_syms = []  # list of lists of top_set_symbols, there are n_samples lists in list
grp_most_common_syms = []  # accumulates the best performing symbols from each days_lookback
grp_perf_ranks = []  # accumulates the best performance ranking symbols from each days_lookback 
grp_dates = []  # dates of days_lookbacks 

for d_lookback in days_lookbacks:
  df = df_close_clean.iloc[-d_lookback:]
  perf_ranks, most_common_syms = _5_perf_ranks(df, n_top_syms=n_top_syms)  # get the best performance symbols and rankings
  grp_most_common_syms.append(most_common_syms)
  grp_perf_ranks.append(perf_ranks)  
  grp_dates.append(df.index[0].strftime("%Y-%m-%d")) 

grp_dates.append(df.index[-1].strftime("%Y-%m-%d"))  # get df's last date
grp_dates.sort()

In [4]:
# flatten list of lists of (symbol:frequency)
flat_grp_most_common_syms = [val for sublist in grp_most_common_syms for val in sublist]
# group symbols from set of days_lookbacks (i.e. lb_slices) and sum frequency of the symbols
set_most_common_syms = _6_grp_tuples_sort_sum(flat_grp_most_common_syms, reverse=True)
# get the top few most-frequent symbol:frequency pairs
top_set_syms_n_freq = set_most_common_syms[0:n_top_syms]
# get symbols from top_set_syms_n_freq
top_set_syms = [i[0] for i in top_set_syms_n_freq[syms_start:syms_end]]

In [5]:
print(f'grp_dates: {grp_dates}')
print(f'top_set_syms_n_freq: {top_set_syms_n_freq}')
print(f'top_set_syms: {top_set_syms}')

grp_dates: ['2022-07-19', '2022-10-18', '2022-12-02', '2022-12-27', '2023-01-19']
top_set_syms_n_freq: [('EXAS', 8), ('COLL', 7), ('HSBC', 7), ('ACGL', 6), ('AU', 6), ('BMA', 6), ('BVH', 6), ('NEOG', 6), ('UBS', 6), ('ACIW', 5), ('BGNE', 5), ('EDU', 5), ('NATI', 5), ('NSTG', 5), ('BABA', 4), ('HEES', 4), ('IHG', 4), ('PUK', 4), ('RMBS', 4), ('WPM', 4), ('AAWW', 3), ('ACLS', 3), ('AJRD', 3), ('ATCO', 3), ('AVEO', 3), ('BA', 3), ('BFAM', 3), ('BURL', 3), ('COHR', 3), ('CPRX', 3)]
top_set_syms: ['EXAS', 'COLL', 'HSBC', 'ACGL', 'AU']

In [6]:
# import webbrowser

# y_quote = 'https://finance.yahoo.com/quote/'
# for sym in top_set_syms:
#   url = y_quote + sym
#   print(url)
#   webbrowser.open(url)  # open symbols in yahoo finance

In [7]:
# # Importing Pandas to create DataFrame
# import pandas as pd

# my_cols = ['date', 'days_lookbacks', 'n_top_syms', 'syms_start', 'syms_end', 'grp_dates', 'top_set_syms_n_freq', 'top_set_syms']
# # Creating Empty DataFrame and Storing it in variable df
# df = pd.DataFrame(columns=my_cols)

In [8]:
from myUtils import pickle_load, pickle_dump

path_dir = "C:/Users/ping/MyDrive/stocks/yfinance/"
path_data_dump = path_dir + "VSCode_dump/"
fp_top_set_syms = 'df_top_set_syms'  # df to store top set symbols

In [9]:
df = pickle_load(path_data_dump, fp_top_set_syms)
df

,date,days_lookbacks,n_top_syms,syms_start,syms_end,grp_dates,top_set_syms_n_freq,top_set_syms
0,2023-01-13,"[16, 32, 64, 128]",30,0,5,"[2022-07-14, 2022-10-13, 2022-11-29, 2022-12-2...","[(AU, 6), (BGNE, 6), (COLL, 6), (CROX, 6), (EX...","[AU, BGNE, COLL, CROX, EXAS]"
1,2023-01-17,"[16, 32, 64, 128]",30,0,5,"[2022-07-15, 2022-10-14, 2022-11-30, 2022-12-2...","[(COLL, 7), (AU, 6), (BVH, 6), (CROX, 6), (GE,...","[COLL, AU, BVH, CROX, GE]"
2,2023-01-18,"[16, 32, 64, 128]",30,0,5,"[2022-07-18, 2022-10-17, 2022-12-01, 2022-12-2...","[(CROX, 7), (EXAS, 7), (ACGL, 6), (COLL, 6), (...","[CROX, EXAS, ACGL, COLL, GE]"

In [10]:
row_add = [grp_dates[-1], days_lookbacks, n_top_syms, syms_start, syms_end, grp_dates, top_set_syms_n_freq, top_set_syms]
df.loc[len(df)] = row_add
df

,date,days_lookbacks,n_top_syms,syms_start,syms_end,grp_dates,top_set_syms_n_freq,top_set_syms
0,2023-01-13,"[16, 32, 64, 128]",30,0,5,"[2022-07-14, 2022-10-13, 2022-11-29, 2022-12-2...","[(AU, 6), (BGNE, 6), (COLL, 6), (CROX, 6), (EX...","[AU, BGNE, COLL, CROX, EXAS]"
1,2023-01-17,"[16, 32, 64, 128]",30,0,5,"[2022-07-15, 2022-10-14, 2022-11-30, 2022-12-2...","[(COLL, 7), (AU, 6), (BVH, 6), (CROX, 6), (GE,...","[COLL, AU, BVH, CROX, GE]"
2,2023-01-18,"[16, 32, 64, 128]",30,0,5,"[2022-07-18, 2022-10-17, 2022-12-01, 2022-12-2...","[(CROX, 7), (EXAS, 7), (ACGL, 6), (COLL, 6), (...","[CROX, EXAS, ACGL, COLL, GE]"
3,2023-01-19,"[16, 32, 64, 128]",30,0,5,"[2022-07-19, 2022-10-18, 2022-12-02, 2022-12-2...","[(EXAS, 8), (COLL, 7), (HSBC, 7), (ACGL, 6), (...","[EXAS, COLL, HSBC, ACGL, AU]"

In [11]:
df = df.drop_duplicates(subset=['date'])

In [12]:
pickle_dump(df, path_data_dump, fp_top_set_syms)

In [13]:
_df = pickle_load(path_data_dump, fp_top_set_syms)
_df

,date,days_lookbacks,n_top_syms,syms_start,syms_end,grp_dates,top_set_syms_n_freq,top_set_syms
0,2023-01-13,"[16, 32, 64, 128]",30,0,5,"[2022-07-14, 2022-10-13, 2022-11-29, 2022-12-2...","[(AU, 6), (BGNE, 6), (COLL, 6), (CROX, 6), (EX...","[AU, BGNE, COLL, CROX, EXAS]"
1,2023-01-17,"[16, 32, 64, 128]",30,0,5,"[2022-07-15, 2022-10-14, 2022-11-30, 2022-12-2...","[(COLL, 7), (AU, 6), (BVH, 6), (CROX, 6), (GE,...","[COLL, AU, BVH, CROX, GE]"
2,2023-01-18,"[16, 32, 64, 128]",30,0,5,"[2022-07-18, 2022-10-17, 2022-12-01, 2022-12-2...","[(CROX, 7), (EXAS, 7), (ACGL, 6), (COLL, 6), (...","[CROX, EXAS, ACGL, COLL, GE]"
3,2023-01-19,"[16, 32, 64, 128]",30,0,5,"[2022-07-19, 2022-10-18, 2022-12-02, 2022-12-2...","[(EXAS, 8), (COLL, 7), (HSBC, 7), (ACGL, 6), (...","[EXAS, COLL, HSBC, ACGL, AU]"

In [14]:
import pandas as pd
# pd.options.display.width = 120
pd.options.display.max_colwidth = 120

print(f'_df["top_set_syms_n_freq"]:\n{_df["top_set_syms_n_freq"]}\n')
l_last_top_set_syms_n_freq = _df['top_set_syms_n_freq'].iloc[-1]

print(f'_df["top_set_syms"]:\n{_df["top_set_syms"]}')
l_last_top_set_syms = _df['top_set_syms'].iloc[-1]
print(f'last row of top_set_syms:\n{l_last_top_set_syms}')

_df["top_set_syms_n_freq"]:
0    [(AU, 6), (BGNE, 6), (COLL, 6), (CROX, 6), (EXAS, 6), (HZNP, 6), (ACGL, 5), (AVEO, 5), (BABA, 5), (BMA, 5), (BVH, 5)...
1    [(COLL, 7), (AU, 6), (BVH, 6), (CROX, 6), (GE, 6), (ACGL, 5), (AJRD, 5), (AVEO, 5), (BMA, 5), (EXAS, 5), (TPX, 5), (...
2    [(CROX, 7), (EXAS, 7), (ACGL, 6), (COLL, 6), (GE, 6), (ACLS, 5), (AU, 5), (AVEO, 5), (BA, 5), (BMA, 5), (BVH, 5), (H...
3    [(EXAS, 8), (COLL, 7), (HSBC, 7), (ACGL, 6), (AU, 6), (BMA, 6), (BVH, 6), (NEOG, 6), (UBS, 6), (ACIW, 5), (BGNE, 5),...
Name: top_set_syms_n_freq, dtype: object

_df["top_set_syms"]:
0    [AU, BGNE, COLL, CROX, EXAS]
1       [COLL, AU, BVH, CROX, GE]
2    [CROX, EXAS, ACGL, COLL, GE]
3    [EXAS, COLL, HSBC, ACGL, AU]
Name: top_set_syms, dtype: object
last row of top_set_syms:
['EXAS', 'COLL', 'HSBC', 'ACGL', 'AU']

In [21]:
# my_cols.sort() will not change order of l_last_top_set_syms 
my_cols = l_last_top_set_syms.copy()  
my_cols.sort()
my_cols.append('SPY')
_df = df_close_clean[my_cols].tail(10)
print(_df)
print(_df.pct_change())
_df.pct_change().tail(1)[0:5]

                 ACGL         AU       COLL       EXAS       HSBC         SPY
Date
2023-01-05  62.939999  21.120001  28.040001  48.310001  33.759998  379.380005
2023-01-06  63.900002  21.469999  28.650000  47.189999  34.310001  388.079987
2023-01-09  62.669998  21.320000  27.910000  58.820000  34.160000  387.859985
2023-01-10  63.070000  21.940001  28.450001  60.090000  34.389999  390.579987
2023-01-11  62.849998  22.010000  27.379999  67.199997  34.599998  395.519989
2023-01-12  63.070000  22.639999  28.740000  68.540001  35.419998  396.959991
2023-01-13  63.759998  23.180000  28.730000  68.959999  36.150002  398.500000
2023-01-17  64.000000  22.090000  28.389999  68.379997  36.299999  397.769989
2023-01-18  63.520000  22.040001  28.250000  67.919998  36.180000  391.489990
2023-01-19  63.389999  22.290001  27.980000  66.190002  36.389999  388.640015
                ACGL        AU      COLL      EXAS      HSBC       SPY
Date
2023-01-05       NaN       NaN       NaN       NaN       NaN       NaN
2023-01-06  0.015253  0.016572  0.021755 -0.023184  0.016292  0.022932
2023-01-09 -0.019249 -0.006986 -0.025829  0.246451 -0.004372 -0.000567
2023-01-10  0.006383  0.029081  0.019348  0.021591  0.006733  0.007013
2023-01-11 -0.003488  0.003191 -0.037610  0.118322  0.006106  0.012648
2023-01-12  0.003500  0.028623  0.049671  0.019941  0.023699  0.003641
2023-01-13  0.010940  0.023852 -0.000348  0.006128  0.020610  0.003880
2023-01-17  0.003764 -0.047023 -0.011834 -0.008411  0.004149 -0.001832
2023-01-18 -0.007500 -0.002263 -0.004931 -0.006727 -0.003306 -0.015788
2023-01-19 -0.002047  0.011343 -0.009558 -0.025471  0.005804 -0.007280

                ACGL        AU      COLL      EXAS      HSBC      SPY
Date
2023-01-19 -0.002047  0.011343 -0.009558 -0.025471  0.005804 -0.00728