In [193]:
# from yf_utils import _2_split_train_val_test, _3_random_slices, _4_lookback_slices
from yf_utils import _5_perf_ranks, _6_grp_tuples_sort_sum
from myUtils import pickle_load

# verbose = False  # True prints more output
verbose = True  # True prints more output

path_dir = "C:/Users/ping/MyDrive/stocks/yfinance/"
path_data_dump = path_dir + "VSCode_dump/"
fp_df_close_clean = 'df_close_clean'
fp_rtn_results = 'rtn_results'
df_close_clean = pickle_load(path_data_dump, fp_df_close_clean)

In [194]:
# number of days to lookback from last df date for performance evaluation
days_lookbacks = [15, 30]
days_lookbacks.sort()  # sort list of integers in ascending order

# number of the most-common symbols from days_lookbacks' performance rankings to keep
n_top_syms = 20  

syms_start = 0  # slice start of set_most_common_syms
syms_end = 5  #  slice end of set_most_common_syms

In [195]:
# load past mean daily return of top_set_syms verus SPY return 
rtn_results = pickle_load(path_data_dump, fp_rtn_results)

In [196]:
# grp_top_set_syms_n_freq = []  # list of lists of top_set_symbols_n_freq, there are n_samples lists in list
# grp_top_set_syms = []  # list of lists of top_set_symbols, there are n_samples lists in list
grp_most_common_syms = []  # accumulates the best performing symbols from each days_lookback
grp_perf_ranks = []  # accumulates the best performance ranking symbols from each days_lookback 
grp_dates = []  # dates of days_lookbacks 

for d_lookback in days_lookbacks:
  df = df_close_clean.iloc[-d_lookback:]
  perf_ranks, most_common_syms = _5_perf_ranks(df, n_top_syms=n_top_syms)  # get the best performance symbols and rankings
  grp_most_common_syms.append(most_common_syms)
  grp_perf_ranks.append(perf_ranks)  
  grp_dates.append(df.index[0].strftime("%Y-%m-%d")) 

grp_dates.append(df.index[-1].strftime("%Y-%m-%d"))  # get df's last date
grp_dates.sort()

In [197]:
# flatten list of lists of (symbol:frequency)
flat_grp_most_common_syms = [val for sublist in grp_most_common_syms for val in sublist]
# group symbols from set of days_lookbacks (i.e. lb_slices) and sum frequency of the symbols
set_most_common_syms = _6_grp_tuples_sort_sum(flat_grp_most_common_syms, reverse=True)
# get the top few most-frequent symbol:frequency pairs
top_set_syms_n_freq = set_most_common_syms[0:n_top_syms]
# get symbols from top_set_syms_n_freq
top_set_syms = [i[0] for i in top_set_syms_n_freq[syms_start:syms_end]]

In [198]:
print(f'grp_dates: {grp_dates}')
print(f'top_set_syms_n_freq: {top_set_syms_n_freq}')
print(f'top_set_syms: {top_set_syms}')

grp_dates: ['2023-01-05', '2023-01-27', '2023-02-16']
top_set_syms_n_freq: [('CTLT', 6), ('TA', 6), ('CRUS', 5), ('THR', 5), ('WIRE', 5), ('CAR', 4), ('SMG', 4), ('TNK', 4), ('CINF', 3), ('DCP', 3), ('ELF', 3), ('MMS', 3), ('NATI', 3), ('ON', 3), ('RVNC', 3), ('STNG', 3), ('TSLA', 3), ('TWLO', 3), ('ACLS', 2), ('ASC', 2)]
top_set_syms: ['CTLT', 'TA', 'CRUS', 'THR', 'WIRE']

In [199]:
# import webbrowser

# y_quote = 'https://finance.yahoo.com/quote/'
# for sym in top_set_syms:
#   url = y_quote + sym
#   print(url)
#   webbrowser.open(url)  # open symbols in yahoo finance

In [200]:
# # Importing Pandas to create DataFrame
# import pandas as pd

# my_cols = ['date', 'days_lookbacks', 'n_top_syms', 'syms_start', 'syms_end', 'grp_dates', 'top_set_syms_n_freq', 'top_set_syms']
# # Creating Empty DataFrame and Storing it in variable df
# df = pd.DataFrame(columns=my_cols)

In [201]:
from myUtils import pickle_load, pickle_dump

path_dir = "C:/Users/ping/MyDrive/stocks/yfinance/"
path_data_dump = path_dir + "VSCode_dump/"
fp_top_set_syms = 'df_top_set_syms'  # df to store top set symbols

In [202]:
df = pickle_load(path_data_dump, fp_top_set_syms)
df

,date,days_lookbacks,n_top_syms,syms_start,syms_end,grp_dates,top_set_syms_n_freq,top_set_syms
0,2023-02-10,"[15, 30]",20,0,5,"[2022-12-29, 2023-01-23, 2023-02-10]","[(CRUS, 6), (CTLT, 6), (THR, 5), (ALGN, 4), (ICPT, 4), (LRN, 4), (TSLA, 4), (AXP, 3), (CINF, 3), (ELF, 3), (EVRI, 3)...","[CRUS, CTLT, THR, ALGN, ICPT]"
1,2023-02-13,"[15, 30]",20,0,5,"[2022-12-30, 2023-01-24, 2023-02-13]","[(CRUS, 6), (CTLT, 6), (THR, 5), (ICPT, 4), (LRN, 4), (TSLA, 4), (ALGN, 3), (BSIG, 3), (CINF, 3), (ELF, 3), (EVRI, 3...","[CRUS, CTLT, THR, ICPT, LRN]"
2,2023-02-14,"[15, 30]",20,0,5,"[2023-01-03, 2023-01-25, 2023-02-14]","[(CRUS, 6), (CTLT, 6), (TSLA, 5), (CAR, 4), (ON, 4), (ALGN, 3), (ELF, 3), (FCF, 3), (MPWR, 3), (RVNC, 3), (SMG, 3), ...","[CRUS, CTLT, TSLA, CAR, ON]"
3,2023-02-15,"[15, 30]",20,0,5,"[2023-01-04, 2023-01-26, 2023-02-15]","[(CTLT, 6), (WIRE, 6), (TNK, 5), (TSLA, 5), (CAR, 4), (CRUS, 4), (DCP, 4), (ELF, 3), (FCF, 3), (MPWR, 3), (PH, 3), (...","[CTLT, WIRE, TNK, TSLA, CAR]"
4,2023-02-16,"[15, 30]",20,0,5,"[2023-01-05, 2023-01-27, 2023-02-16]","[(CTLT, 6), (TA, 6), (CRUS, 5), (THR, 5), (WIRE, 5), (CAR, 4), (SMG, 4), (TNK, 4), (CINF, 3), (DCP, 3), (ELF, 3), (M...","[CTLT, TA, CRUS, THR, WIRE]"

In [203]:
row_add = [grp_dates[-1], days_lookbacks, n_top_syms, syms_start, syms_end, grp_dates, top_set_syms_n_freq, top_set_syms]
df.loc[len(df)] = row_add
df

,date,days_lookbacks,n_top_syms,syms_start,syms_end,grp_dates,top_set_syms_n_freq,top_set_syms
0,2023-02-10,"[15, 30]",20,0,5,"[2022-12-29, 2023-01-23, 2023-02-10]","[(CRUS, 6), (CTLT, 6), (THR, 5), (ALGN, 4), (ICPT, 4), (LRN, 4), (TSLA, 4), (AXP, 3), (CINF, 3), (ELF, 3), (EVRI, 3)...","[CRUS, CTLT, THR, ALGN, ICPT]"
1,2023-02-13,"[15, 30]",20,0,5,"[2022-12-30, 2023-01-24, 2023-02-13]","[(CRUS, 6), (CTLT, 6), (THR, 5), (ICPT, 4), (LRN, 4), (TSLA, 4), (ALGN, 3), (BSIG, 3), (CINF, 3), (ELF, 3), (EVRI, 3...","[CRUS, CTLT, THR, ICPT, LRN]"
2,2023-02-14,"[15, 30]",20,0,5,"[2023-01-03, 2023-01-25, 2023-02-14]","[(CRUS, 6), (CTLT, 6), (TSLA, 5), (CAR, 4), (ON, 4), (ALGN, 3), (ELF, 3), (FCF, 3), (MPWR, 3), (RVNC, 3), (SMG, 3), ...","[CRUS, CTLT, TSLA, CAR, ON]"
3,2023-02-15,"[15, 30]",20,0,5,"[2023-01-04, 2023-01-26, 2023-02-15]","[(CTLT, 6), (WIRE, 6), (TNK, 5), (TSLA, 5), (CAR, 4), (CRUS, 4), (DCP, 4), (ELF, 3), (FCF, 3), (MPWR, 3), (PH, 3), (...","[CTLT, WIRE, TNK, TSLA, CAR]"
4,2023-02-16,"[15, 30]",20,0,5,"[2023-01-05, 2023-01-27, 2023-02-16]","[(CTLT, 6), (TA, 6), (CRUS, 5), (THR, 5), (WIRE, 5), (CAR, 4), (SMG, 4), (TNK, 4), (CINF, 3), (DCP, 3), (ELF, 3), (M...","[CTLT, TA, CRUS, THR, WIRE]"
5,2023-02-16,"[15, 30]",20,0,5,"[2023-01-05, 2023-01-27, 2023-02-16]","[(CTLT, 6), (TA, 6), (CRUS, 5), (THR, 5), (WIRE, 5), (CAR, 4), (SMG, 4), (TNK, 4), (CINF, 3), (DCP, 3), (ELF, 3), (M...","[CTLT, TA, CRUS, THR, WIRE]"

In [204]:
df = df.drop_duplicates(subset=['date'])

In [205]:
pickle_dump(df, path_data_dump, fp_top_set_syms)

In [206]:
_df = pickle_load(path_data_dump, fp_top_set_syms)
_df

,date,days_lookbacks,n_top_syms,syms_start,syms_end,grp_dates,top_set_syms_n_freq,top_set_syms
0,2023-02-10,"[15, 30]",20,0,5,"[2022-12-29, 2023-01-23, 2023-02-10]","[(CRUS, 6), (CTLT, 6), (THR, 5), (ALGN, 4), (ICPT, 4), (LRN, 4), (TSLA, 4), (AXP, 3), (CINF, 3), (ELF, 3), (EVRI, 3)...","[CRUS, CTLT, THR, ALGN, ICPT]"
1,2023-02-13,"[15, 30]",20,0,5,"[2022-12-30, 2023-01-24, 2023-02-13]","[(CRUS, 6), (CTLT, 6), (THR, 5), (ICPT, 4), (LRN, 4), (TSLA, 4), (ALGN, 3), (BSIG, 3), (CINF, 3), (ELF, 3), (EVRI, 3...","[CRUS, CTLT, THR, ICPT, LRN]"
2,2023-02-14,"[15, 30]",20,0,5,"[2023-01-03, 2023-01-25, 2023-02-14]","[(CRUS, 6), (CTLT, 6), (TSLA, 5), (CAR, 4), (ON, 4), (ALGN, 3), (ELF, 3), (FCF, 3), (MPWR, 3), (RVNC, 3), (SMG, 3), ...","[CRUS, CTLT, TSLA, CAR, ON]"
3,2023-02-15,"[15, 30]",20,0,5,"[2023-01-04, 2023-01-26, 2023-02-15]","[(CTLT, 6), (WIRE, 6), (TNK, 5), (TSLA, 5), (CAR, 4), (CRUS, 4), (DCP, 4), (ELF, 3), (FCF, 3), (MPWR, 3), (PH, 3), (...","[CTLT, WIRE, TNK, TSLA, CAR]"
4,2023-02-16,"[15, 30]",20,0,5,"[2023-01-05, 2023-01-27, 2023-02-16]","[(CTLT, 6), (TA, 6), (CRUS, 5), (THR, 5), (WIRE, 5), (CAR, 4), (SMG, 4), (TNK, 4), (CINF, 3), (DCP, 3), (ELF, 3), (M...","[CTLT, TA, CRUS, THR, WIRE]"

In [207]:
df["top_set_syms"]

0    [CRUS, CTLT, THR, ALGN, ICPT]
1     [CRUS, CTLT, THR, ICPT, LRN]
2      [CRUS, CTLT, TSLA, CAR, ON]
3     [CTLT, WIRE, TNK, TSLA, CAR]
4      [CTLT, TA, CRUS, THR, WIRE]
Name: top_set_syms, dtype: object

In [208]:
prev_top_set_syms = df["top_set_syms"].iloc[-2]
prev_top_set_syms

['CTLT', 'WIRE', 'TNK', 'TSLA', 'CAR']

In [209]:
import pandas as pd
# pd.options.display.width = 120
pd.options.display.max_colwidth = 120

print(f'_df["top_set_syms_n_freq"]:\n{_df["top_set_syms_n_freq"]}\n')
l_last_top_set_syms_n_freq = _df['top_set_syms_n_freq'].iloc[-1]

print(f'_df["top_set_syms"]:\n{_df["top_set_syms"]}')
l_last_top_set_syms = _df['top_set_syms'].iloc[-1]
print(f'last row of top_set_syms:\n{l_last_top_set_syms}')

_df["top_set_syms_n_freq"]:
0    [(CRUS, 6), (CTLT, 6), (THR, 5), (ALGN, 4), (ICPT, 4), (LRN, 4), (TSLA, 4), (AXP, 3), (CINF, 3), (ELF, 3), (EVRI, 3)...
1    [(CRUS, 6), (CTLT, 6), (THR, 5), (ICPT, 4), (LRN, 4), (TSLA, 4), (ALGN, 3), (BSIG, 3), (CINF, 3), (ELF, 3), (EVRI, 3...
2    [(CRUS, 6), (CTLT, 6), (TSLA, 5), (CAR, 4), (ON, 4), (ALGN, 3), (ELF, 3), (FCF, 3), (MPWR, 3), (RVNC, 3), (SMG, 3), ...
3    [(CTLT, 6), (WIRE, 6), (TNK, 5), (TSLA, 5), (CAR, 4), (CRUS, 4), (DCP, 4), (ELF, 3), (FCF, 3), (MPWR, 3), (PH, 3), (...
4    [(CTLT, 6), (TA, 6), (CRUS, 5), (THR, 5), (WIRE, 5), (CAR, 4), (SMG, 4), (TNK, 4), (CINF, 3), (DCP, 3), (ELF, 3), (M...
Name: top_set_syms_n_freq, dtype: object

_df["top_set_syms"]:
0    [CRUS, CTLT, THR, ALGN, ICPT]
1     [CRUS, CTLT, THR, ICPT, LRN]
2      [CRUS, CTLT, TSLA, CAR, ON]
3     [CTLT, WIRE, TNK, TSLA, CAR]
4      [CTLT, TA, CRUS, THR, WIRE]
Name: top_set_syms, dtype: object
last row of top_set_syms:
['CTLT', 'TA', 'CRUS', 'THR', 'WIRE']

In [210]:
recent_top_set_syms = []
for symbols in _df["top_set_syms"]:
  recent_top_set_syms.append(symbols)
recent_top_set_syms

# flatten symbols_download_err which is a list-of-lists
recent_top_set_syms = [val for sublist in recent_top_set_syms for val in sublist]
recent_top_set_syms
# get list of unique symbols in df_OHLCV, list(df) is a list of tuples
# e.g.: [('AAPL', 'Open')..('AAPL', 'Volume'),...
#        ('ZZZZ', 'Open')..('ZZZZ', 'Volume')]
recent_top_set_syms = list(set(recent_top_set_syms))
recent_top_set_syms.append("SPY")
recent_top_set_syms.sort()
print(recent_top_set_syms)

['ALGN', 'CAR', 'CRUS', 'CTLT', 'ICPT', 'LRN', 'ON', 'SPY', 'TA', 'THR', 'TNK', 'TSLA', 'WIRE']

In [211]:
# my_cols.sort() will not change order of l_last_top_set_syms 
my_cols = recent_top_set_syms.copy()  
my_cols.sort()
# my_cols.append('SPY')
_df = df_close_clean[my_cols].tail(10)
# print(_df)
print(_df.pct_change())
_df.pct_change().tail(1)[0:10]

                ALGN       CAR      CRUS      CTLT      ICPT       LRN  \
Date
2023-02-03       NaN       NaN       NaN       NaN       NaN       NaN
2023-02-06 -0.001865 -0.014157 -0.000098  0.195361  0.086225 -0.026138
2023-02-07  0.007621  0.074627  0.041809  0.068358  0.050823  0.001677
2023-02-08 -0.029675  0.003067 -0.014440 -0.003772 -0.044219 -0.025359
2023-02-09 -0.040170 -0.034813 -0.001237  0.009676  0.004337  0.015955
2023-02-10 -0.017332 -0.027832 -0.004572 -0.021389  0.000960  0.005074
2023-02-13  0.029923  0.026441  0.015694  0.001277 -0.011026  0.025481
2023-02-14  0.019246  0.106576 -0.002732 -0.002835  0.028114  0.004688
2023-02-15  0.020723  0.010615  0.001512 -0.017910 -0.016030  0.012599
2023-02-16 -0.036112  0.002474 -0.011697  0.040527 -0.057020  0.009677

                  ON       SPY        TA       THR       TNK      TSLA  \
Date
2023-02-03       NaN       NaN       NaN       NaN       NaN       NaN
2023-02-06 -0.006058 -0.006111  0.007074  0.058333  0.043854  0.025161
2023-02-07  0.063806  0.013079  0.023140  0.035039  0.020414  0.010526
2023-02-08 -0.022565 -0.010935 -0.009491  0.031191 -0.002320  0.022763
2023-02-09  0.013756 -0.008669 -0.029358 -0.017706  0.059285  0.029957
2023-02-10 -0.011209  0.002334 -0.012602  0.014270 -0.015089 -0.050309
2023-02-13  0.006921  0.011739  0.021059  0.006294  0.042618 -0.011428
2023-02-14  0.029628 -0.000460 -0.006458 -0.017660  0.005343  0.075062
2023-02-15 -0.001957  0.003247  0.036695  0.022846  0.026043  0.023847
2023-02-16 -0.029754 -0.013769  0.707727 -0.010253  0.000259 -0.056946

                WIRE
Date
2023-02-03       NaN
2023-02-06 -0.008440
2023-02-07  0.005635
2023-02-08 -0.025276
2023-02-09 -0.001557
2023-02-10  0.000780
2023-02-13  0.006832
2023-02-14  0.010894
2023-02-15  0.141267
2023-02-16  0.020948

,ALGN,CAR,CRUS,CTLT,ICPT,LRN,ON,SPY,TA,THR,TNK,TSLA,WIRE
Date,,,,,,,,,,,,,
2023-02-16,-0.036112,0.002474,-0.011697,0.040527,-0.05702,0.009677,-0.029754,-0.013769,0.707727,-0.010253,0.000259,-0.056946,0.020948

In [212]:
# today's return from previous top_set_syms
prev_top_set_syms_n_SPY = prev_top_set_syms + ['SPY']
rtn_prev_top_set_syms = _df.pct_change().tail(1)[prev_top_set_syms_n_SPY]
rtn_prev_top_set_syms_mean = rtn_prev_top_set_syms.mean(axis=1)[0]
rtn_prev_top_set_syms_std = rtn_prev_top_set_syms.std(axis=1)[0]
# print(f'rtn_prev_top_set_syms:\n{rtn_prev_top_set_syms}')
print(f'rtn_prev_top_set_syms_mean:                                                {rtn_prev_top_set_syms_mean:>10.6f}')
print(f'rtn_prev_top_set_syms_std:                                                 {rtn_prev_top_set_syms_std:>10.6f}\n')

rtn_SPY = _df.pct_change().tail(1)['SPY'][0]  # [0] changes pd.Series to a value
rtn_dif = rtn_prev_top_set_syms_mean - rtn_SPY
print(f'rtn_SPY:                                                                   {rtn_SPY:>10.6f}\n')                  
print(f"Difference in daily return between yesterday's top_set_syms_mean and SPY:  {rtn_dif:>10.6f}")

print("\nToday's return of previous top_set_syms and SPY")
rtn_prev_top_set_syms

rtn_prev_top_set_syms_mean:                                                 -0.001084
rtn_prev_top_set_syms_std:                                                   0.033205

rtn_SPY:                                                                    -0.013769

Difference in daily return between yesterday's top_set_syms_mean and SPY:    0.012684

Today's return of previous top_set_syms and SPY

                CTLT      WIRE       TNK      TSLA       CAR       SPY
Date
2023-02-16  0.040527  0.020948  0.000259 -0.056946  0.002474 -0.013769

In [213]:
_date = rtn_prev_top_set_syms.tail(1).index.strftime('%Y-%m-%d')[0]
_rtn_tss_mean = rtn_prev_top_set_syms_mean
_rtn_tss_std = rtn_prev_top_set_syms_std
_rtn_SPY = rtn_SPY
_rtn_dif = rtn_dif

In [214]:
row_add = [_date, _rtn_tss_mean, _rtn_tss_std, _rtn_SPY, _rtn_tss_m_SPY]

In [215]:
# my_cols
row_add

['2023-02-16',
 -0.0010844019680582757,
 0.033204720774146636,
 -0.013768810222142602,
 0.012684408254084326]

In [216]:
# # # Creating Empty DataFrame and Storing it in variable df
# my_cols = ['date', 'rtn_tss_mean', 'rtn_tss_std', 'rtn_SPY', 'rtn_dif']
# rtn_results = pd.DataFrame(columns=my_cols)

rtn_results.loc[len(rtn_results)] = row_add
rtn_results

         date  rtn_tss_mean  rtn_tss_std   rtn_SPY   rtn_dif
0  2023-02-16     -0.001084     0.033205 -0.013769  0.012684
1  2023-02-16     -0.001084     0.033205 -0.013769  0.012684

In [217]:
rtn_results = rtn_results.drop_duplicates(subset=['date'])
rtn_results

         date  rtn_tss_mean  rtn_tss_std   rtn_SPY   rtn_dif
0  2023-02-16     -0.001084     0.033205 -0.013769  0.012684

In [218]:
pickle_dump(rtn_results, path_data_dump, fp_rtn_results)

In [219]:
_df = pickle_load(path_data_dump, fp_rtn_results)
_df

         date  rtn_tss_mean  rtn_tss_std   rtn_SPY   rtn_dif
0  2023-02-16     -0.001084     0.033205 -0.013769  0.012684