In [1]:
# from yf_utils import _2_split_train_val_test, _3_random_slices, _4_lookback_slices
from yf_utils import _5_perf_ranks, _6_grp_tuples_sort_sum
from myUtils import pickle_load

# verbose = False  # True prints more output
verbose = True  # True prints more output

path_dir = "C:/Users/ping/MyDrive/stocks/yfinance/"
path_data_dump = path_dir + "VSCode_dump/"
fp_df_close_clean = 'df_close_clean'
df_close_clean = pickle_load(path_data_dump, fp_df_close_clean)

In [2]:
# number of days to lookback from last df date for performance evaluation
# days_lookbacks = [30, 120, 60, 240]
# days_lookbacks = [24, 48, 95, 190]
days_lookbacks = [32, 64, 128]  # corresponds to 0.8, 1.5, 3.0, 6.1 months
# days_lookbacks = [15, 30, 60, 120]  # corresponds to 0.8, 1.5, 3.0, 6.1 months
# days_lookbacks = [30, 60, 120]  # corresponds to 0.8, 1.5, 3.0, 6.1 months
days_lookbacks.sort()  # sort list of integers in ascending order

# number of the most-common symbols from days_lookbacks' performance rankings to keep
n_top_syms = 30  

syms_start = 0  # slice start of set_most_common_syms
syms_end = 5  #  slice end of set_most_common_syms

In [3]:
# grp_top_set_syms_n_freq = []  # list of lists of top_set_symbols_n_freq, there are n_samples lists in list
# grp_top_set_syms = []  # list of lists of top_set_symbols, there are n_samples lists in list
grp_most_common_syms = []  # accumulates the best performing symbols from each days_lookback
grp_perf_ranks = []  # accumulates the best performance ranking symbols from each days_lookback 
grp_dates = []  # dates of days_lookbacks 

for d_lookback in days_lookbacks:
  df = df_close_clean.iloc[-d_lookback:]
  perf_ranks, most_common_syms = _5_perf_ranks(df, n_top_syms=n_top_syms)  # get the best performance symbols and rankings
  grp_most_common_syms.append(most_common_syms)
  grp_perf_ranks.append(perf_ranks)  
  grp_dates.append(df.index[0].strftime("%Y-%m-%d")) 

grp_dates.append(df.index[-1].strftime("%Y-%m-%d"))  # get df's last date
grp_dates.sort()

In [4]:
# flatten list of lists of (symbol:frequency)
flat_grp_most_common_syms = [val for sublist in grp_most_common_syms for val in sublist]
# group symbols from set of days_lookbacks (i.e. lb_slices) and sum frequency of the symbols
set_most_common_syms = _6_grp_tuples_sort_sum(flat_grp_most_common_syms, reverse=True)
# get the top few most-frequent symbol:frequency pairs
top_set_syms_n_freq = set_most_common_syms[0:n_top_syms]
# get symbols from top_set_syms_n_freq
top_set_syms = [i[0] for i in top_set_syms_n_freq[syms_start:syms_end]]

In [5]:
print(f'grp_dates: {grp_dates}')
print(f'top_set_syms_n_freq: {top_set_syms_n_freq}')
print(f'top_set_syms: {top_set_syms}')

grp_dates: ['2022-07-27', '2022-10-26', '2022-12-12', '2023-01-27']
top_set_syms_n_freq: [('BVH', 6), ('COLL', 6), ('EXAS', 6), ('ACGL', 5), ('CCU', 5), ('HSBC', 5), ('NTES', 5), ('PERI', 5), ('PUK', 5), ('WB', 5), ('AGYS', 4), ('BMA', 4), ('CROX', 4), ('HEES', 4), ('ZTO', 4), ('AAWW', 3), ('ACIW', 3), ('ACLS', 3), ('ALGN', 3), ('BA', 3), ('BABA', 3), ('BURL', 3), ('CAT', 3), ('CCOI', 3), ('ELF', 3), ('FIVE', 3), ('FSLR', 3), ('FTI', 3), ('GE', 3), ('HLF', 3)]
top_set_syms: ['BVH', 'COLL', 'EXAS', 'ACGL', 'CCU']

In [6]:
# import webbrowser

# y_quote = 'https://finance.yahoo.com/quote/'
# for sym in top_set_syms:
#   url = y_quote + sym
#   print(url)
#   webbrowser.open(url)  # open symbols in yahoo finance

In [7]:
# # Importing Pandas to create DataFrame
# import pandas as pd

# my_cols = ['date', 'days_lookbacks', 'n_top_syms', 'syms_start', 'syms_end', 'grp_dates', 'top_set_syms_n_freq', 'top_set_syms']
# # Creating Empty DataFrame and Storing it in variable df
# df = pd.DataFrame(columns=my_cols)

In [8]:
from myUtils import pickle_load, pickle_dump

path_dir = "C:/Users/ping/MyDrive/stocks/yfinance/"
path_data_dump = path_dir + "VSCode_dump/"
fp_top_set_syms = 'df_top_set_syms'  # df to store top set symbols

In [9]:
df = pickle_load(path_data_dump, fp_top_set_syms)
df

,date,days_lookbacks,n_top_syms,syms_start,syms_end,grp_dates,top_set_syms_n_freq,top_set_syms
0,2023-01-13,"[16, 32, 64, 128]",30,0,5,"[2022-07-14, 2022-10-13, 2022-11-29, 2022-12-2...","[(AU, 6), (BGNE, 6), (COLL, 6), (CROX, 6), (EX...","[AU, BGNE, COLL, CROX, EXAS]"
1,2023-01-17,"[16, 32, 64, 128]",30,0,5,"[2022-07-15, 2022-10-14, 2022-11-30, 2022-12-2...","[(COLL, 7), (AU, 6), (BVH, 6), (CROX, 6), (GE,...","[COLL, AU, BVH, CROX, GE]"
2,2023-01-18,"[16, 32, 64, 128]",30,0,5,"[2022-07-18, 2022-10-17, 2022-12-01, 2022-12-2...","[(CROX, 7), (EXAS, 7), (ACGL, 6), (COLL, 6), (...","[CROX, EXAS, ACGL, COLL, GE]"
3,2023-01-19,"[16, 32, 64, 128]",30,0,5,"[2022-07-19, 2022-10-18, 2022-12-02, 2022-12-2...","[(EXAS, 8), (COLL, 7), (HSBC, 7), (ACGL, 6), (...","[EXAS, COLL, HSBC, ACGL, AU]"
4,2023-01-20,"[16, 32, 64, 128]",30,0,5,"[2022-07-20, 2022-10-19, 2022-12-05, 2022-12-2...","[(EXAS, 8), (BMA, 7), (AU, 6), (BVH, 6), (COLL...","[EXAS, BMA, AU, BVH, COLL]"
5,2023-01-23,"[32, 64, 128]",30,0,5,"[2022-07-21, 2022-10-20, 2022-12-06, 2023-01-23]","[(CROX, 7), (BVH, 6), (COLL, 6), (EXAS, 6), (A...","[CROX, BVH, COLL, EXAS, ACGL]"
6,2023-01-24,"[32, 64, 128]",30,0,5,"[2022-07-22, 2022-10-21, 2022-12-07, 2023-01-24]","[(BVH, 6), (COLL, 6), (EXAS, 6), (ACGL, 5), (B...","[BVH, COLL, EXAS, ACGL, BMA]"
7,2023-01-25,"[32, 64, 128]",30,0,5,"[2022-07-25, 2022-10-24, 2022-12-08, 2023-01-25]","[(BVH, 6), (COLL, 6), (CROX, 6), (EXAS, 6), (B...","[BVH, COLL, CROX, EXAS, BMA]"
8,2023-01-26,"[32, 64, 128]",30,0,5,"[2022-07-26, 2022-10-25, 2022-12-09, 2023-01-26]","[(BVH, 6), (COLL, 6), (EXAS, 6), (BMA, 5), (CC...","[BVH, COLL, EXAS, BMA, CCU]"

In [10]:
row_add = [grp_dates[-1], days_lookbacks, n_top_syms, syms_start, syms_end, grp_dates, top_set_syms_n_freq, top_set_syms]
df.loc[len(df)] = row_add
df

,date,days_lookbacks,n_top_syms,syms_start,syms_end,grp_dates,top_set_syms_n_freq,top_set_syms
0,2023-01-13,"[16, 32, 64, 128]",30,0,5,"[2022-07-14, 2022-10-13, 2022-11-29, 2022-12-2...","[(AU, 6), (BGNE, 6), (COLL, 6), (CROX, 6), (EX...","[AU, BGNE, COLL, CROX, EXAS]"
1,2023-01-17,"[16, 32, 64, 128]",30,0,5,"[2022-07-15, 2022-10-14, 2022-11-30, 2022-12-2...","[(COLL, 7), (AU, 6), (BVH, 6), (CROX, 6), (GE,...","[COLL, AU, BVH, CROX, GE]"
2,2023-01-18,"[16, 32, 64, 128]",30,0,5,"[2022-07-18, 2022-10-17, 2022-12-01, 2022-12-2...","[(CROX, 7), (EXAS, 7), (ACGL, 6), (COLL, 6), (...","[CROX, EXAS, ACGL, COLL, GE]"
3,2023-01-19,"[16, 32, 64, 128]",30,0,5,"[2022-07-19, 2022-10-18, 2022-12-02, 2022-12-2...","[(EXAS, 8), (COLL, 7), (HSBC, 7), (ACGL, 6), (...","[EXAS, COLL, HSBC, ACGL, AU]"
4,2023-01-20,"[16, 32, 64, 128]",30,0,5,"[2022-07-20, 2022-10-19, 2022-12-05, 2022-12-2...","[(EXAS, 8), (BMA, 7), (AU, 6), (BVH, 6), (COLL...","[EXAS, BMA, AU, BVH, COLL]"
5,2023-01-23,"[32, 64, 128]",30,0,5,"[2022-07-21, 2022-10-20, 2022-12-06, 2023-01-23]","[(CROX, 7), (BVH, 6), (COLL, 6), (EXAS, 6), (A...","[CROX, BVH, COLL, EXAS, ACGL]"
6,2023-01-24,"[32, 64, 128]",30,0,5,"[2022-07-22, 2022-10-21, 2022-12-07, 2023-01-24]","[(BVH, 6), (COLL, 6), (EXAS, 6), (ACGL, 5), (B...","[BVH, COLL, EXAS, ACGL, BMA]"
7,2023-01-25,"[32, 64, 128]",30,0,5,"[2022-07-25, 2022-10-24, 2022-12-08, 2023-01-25]","[(BVH, 6), (COLL, 6), (CROX, 6), (EXAS, 6), (B...","[BVH, COLL, CROX, EXAS, BMA]"
8,2023-01-26,"[32, 64, 128]",30,0,5,"[2022-07-26, 2022-10-25, 2022-12-09, 2023-01-26]","[(BVH, 6), (COLL, 6), (EXAS, 6), (BMA, 5), (CC...","[BVH, COLL, EXAS, BMA, CCU]"
9,2023-01-27,"[32, 64, 128]",30,0,5,"[2022-07-27, 2022-10-26, 2022-12-12, 2023-01-27]","[(BVH, 6), (COLL, 6), (EXAS, 6), (ACGL, 5), (C...","[BVH, COLL, EXAS, ACGL, CCU]"

In [11]:
df = df.drop_duplicates(subset=['date'])

In [12]:
pickle_dump(df, path_data_dump, fp_top_set_syms)

In [13]:
_df = pickle_load(path_data_dump, fp_top_set_syms)
_df

,date,days_lookbacks,n_top_syms,syms_start,syms_end,grp_dates,top_set_syms_n_freq,top_set_syms
0,2023-01-13,"[16, 32, 64, 128]",30,0,5,"[2022-07-14, 2022-10-13, 2022-11-29, 2022-12-2...","[(AU, 6), (BGNE, 6), (COLL, 6), (CROX, 6), (EX...","[AU, BGNE, COLL, CROX, EXAS]"
1,2023-01-17,"[16, 32, 64, 128]",30,0,5,"[2022-07-15, 2022-10-14, 2022-11-30, 2022-12-2...","[(COLL, 7), (AU, 6), (BVH, 6), (CROX, 6), (GE,...","[COLL, AU, BVH, CROX, GE]"
2,2023-01-18,"[16, 32, 64, 128]",30,0,5,"[2022-07-18, 2022-10-17, 2022-12-01, 2022-12-2...","[(CROX, 7), (EXAS, 7), (ACGL, 6), (COLL, 6), (...","[CROX, EXAS, ACGL, COLL, GE]"
3,2023-01-19,"[16, 32, 64, 128]",30,0,5,"[2022-07-19, 2022-10-18, 2022-12-02, 2022-12-2...","[(EXAS, 8), (COLL, 7), (HSBC, 7), (ACGL, 6), (...","[EXAS, COLL, HSBC, ACGL, AU]"
4,2023-01-20,"[16, 32, 64, 128]",30,0,5,"[2022-07-20, 2022-10-19, 2022-12-05, 2022-12-2...","[(EXAS, 8), (BMA, 7), (AU, 6), (BVH, 6), (COLL...","[EXAS, BMA, AU, BVH, COLL]"
5,2023-01-23,"[32, 64, 128]",30,0,5,"[2022-07-21, 2022-10-20, 2022-12-06, 2023-01-23]","[(CROX, 7), (BVH, 6), (COLL, 6), (EXAS, 6), (A...","[CROX, BVH, COLL, EXAS, ACGL]"
6,2023-01-24,"[32, 64, 128]",30,0,5,"[2022-07-22, 2022-10-21, 2022-12-07, 2023-01-24]","[(BVH, 6), (COLL, 6), (EXAS, 6), (ACGL, 5), (B...","[BVH, COLL, EXAS, ACGL, BMA]"
7,2023-01-25,"[32, 64, 128]",30,0,5,"[2022-07-25, 2022-10-24, 2022-12-08, 2023-01-25]","[(BVH, 6), (COLL, 6), (CROX, 6), (EXAS, 6), (B...","[BVH, COLL, CROX, EXAS, BMA]"
8,2023-01-26,"[32, 64, 128]",30,0,5,"[2022-07-26, 2022-10-25, 2022-12-09, 2023-01-26]","[(BVH, 6), (COLL, 6), (EXAS, 6), (BMA, 5), (CC...","[BVH, COLL, EXAS, BMA, CCU]"
9,2023-01-27,"[32, 64, 128]",30,0,5,"[2022-07-27, 2022-10-26, 2022-12-12, 2023-01-27]","[(BVH, 6), (COLL, 6), (EXAS, 6), (ACGL, 5), (C...","[BVH, COLL, EXAS, ACGL, CCU]"

In [14]:
import pandas as pd
# pd.options.display.width = 120
pd.options.display.max_colwidth = 120

print(f'_df["top_set_syms_n_freq"]:\n{_df["top_set_syms_n_freq"]}\n')
l_last_top_set_syms_n_freq = _df['top_set_syms_n_freq'].iloc[-1]

print(f'_df["top_set_syms"]:\n{_df["top_set_syms"]}')
l_last_top_set_syms = _df['top_set_syms'].iloc[-1]
print(f'last row of top_set_syms:\n{l_last_top_set_syms}')

_df["top_set_syms_n_freq"]:
0    [(AU, 6), (BGNE, 6), (COLL, 6), (CROX, 6), (EXAS, 6), (HZNP, 6), (ACGL, 5), (AVEO, 5), (BABA, 5), (BMA, 5), (BVH, 5)...
1    [(COLL, 7), (AU, 6), (BVH, 6), (CROX, 6), (GE, 6), (ACGL, 5), (AJRD, 5), (AVEO, 5), (BMA, 5), (EXAS, 5), (TPX, 5), (...
2    [(CROX, 7), (EXAS, 7), (ACGL, 6), (COLL, 6), (GE, 6), (ACLS, 5), (AU, 5), (AVEO, 5), (BA, 5), (BMA, 5), (BVH, 5), (H...
3    [(EXAS, 8), (COLL, 7), (HSBC, 7), (ACGL, 6), (AU, 6), (BMA, 6), (BVH, 6), (NEOG, 6), (UBS, 6), (ACIW, 5), (BGNE, 5),...
4    [(EXAS, 8), (BMA, 7), (AU, 6), (BVH, 6), (COLL, 6), (NEOG, 6), (BABA, 5), (BGNE, 5), (CROX, 5), (HSBC, 5), (HZNP, 5)...
5    [(CROX, 7), (BVH, 6), (COLL, 6), (EXAS, 6), (ACGL, 5), (BMA, 5), (CCU, 5), (EDU, 5), (HZNP, 5), (AU, 4), (BGNE, 4), ...
6    [(BVH, 6), (COLL, 6), (EXAS, 6), (ACGL, 5), (BMA, 5), (CCU, 5), (CROX, 5), (HZNP, 5), (WB, 5), (BGNE, 4), (EDU, 4), ...
7    [(BVH, 6), (COLL, 6), (CROX, 6), (EXAS, 6), (BMA, 5), (CCU, 5), (HZNP, 5), (NTES, 5), (PUK, 5), (ACGL, 4), (BGNE, 4)...
8    [(BVH, 6), (COLL, 6), (EXAS, 6), (BMA, 5), (CCU, 5), (HSBC, 5), (NTES, 5), (PUK, 5), (WB, 5), (ACGL, 4), (ACLS, 4), ...
9    [(BVH, 6), (COLL, 6), (EXAS, 6), (ACGL, 5), (CCU, 5), (HSBC, 5), (NTES, 5), (PERI, 5), (PUK, 5), (WB, 5), (AGYS, 4),...
Name: top_set_syms_n_freq, dtype: object

_df["top_set_syms"]:
0     [AU, BGNE, COLL, CROX, EXAS]
1        [COLL, AU, BVH, CROX, GE]
2     [CROX, EXAS, ACGL, COLL, GE]
3     [EXAS, COLL, HSBC, ACGL, AU]
4       [EXAS, BMA, AU, BVH, COLL]
5    [CROX, BVH, COLL, EXAS, ACGL]
6     [BVH, COLL, EXAS, ACGL, BMA]
7     [BVH, COLL, CROX, EXAS, BMA]
8      [BVH, COLL, EXAS, BMA, CCU]
9     [BVH, COLL, EXAS, ACGL, CCU]
Name: top_set_syms, dtype: object
last row of top_set_syms:
['BVH', 'COLL', 'EXAS', 'ACGL', 'CCU']

In [15]:
# type(_df["top_set_syms"])

In [16]:
recent_top_set_syms = []
for symbols in _df["top_set_syms"]:
  recent_top_set_syms.append(symbols)
recent_top_set_syms

# flatten symbols_download_err which is a list-of-lists
recent_top_set_syms = [val for sublist in recent_top_set_syms for val in sublist]
recent_top_set_syms
# get list of unique symbols in df_OHLCV, list(df) is a list of tuples
# e.g.: [('AAPL', 'Open')..('AAPL', 'Volume'),...
#        ('ZZZZ', 'Open')..('ZZZZ', 'Volume')]
recent_top_set_syms = list(set(recent_top_set_syms))
recent_top_set_syms.append("SPY")
recent_top_set_syms.sort()
print(recent_top_set_syms)

['ACGL', 'AU', 'BGNE', 'BMA', 'BVH', 'CCU', 'COLL', 'CROX', 'EXAS', 'GE', 'HSBC', 'SPY']

In [17]:
# my_cols.sort() will not change order of l_last_top_set_syms 
my_cols = recent_top_set_syms.copy()  
my_cols.sort()
# my_cols.append('SPY')
_df = df_close_clean[my_cols].tail(10)
# print(_df)
print(_df.pct_change())
_df.pct_change().tail(1)[0:10]

                ACGL        AU      BGNE       BMA       BVH       CCU  \
Date
2023-01-13       NaN       NaN       NaN       NaN       NaN       NaN
2023-01-17  0.003764 -0.047023 -0.011010  0.078307  0.020306  0.026158
2023-01-18 -0.007500 -0.002263 -0.010012 -0.056382 -0.022696 -0.021850
2023-01-19 -0.002047  0.011343  0.035849  0.022467  0.010718  0.018615
2023-01-20 -0.014671  0.014356 -0.029435  0.060309  0.044539  0.074561
2023-01-23  0.010727 -0.002211  0.009684 -0.033510 -0.002707  0.025170
2023-01-24  0.014415 -0.025266 -0.008364 -0.003193  0.026807  0.028534
2023-01-25  0.011868 -0.003183 -0.012184  0.041190  0.019498 -0.003226
2023-01-26 -0.000772 -0.003650 -0.007097 -0.006154 -0.005835  0.005825
2023-01-27 -0.010656 -0.037546 -0.006995 -0.041575  0.015324 -0.032819

                COLL      CROX      EXAS        GE      HSBC       SPY
Date
2023-01-13       NaN       NaN       NaN       NaN       NaN       NaN
2023-01-17 -0.011834  0.017724 -0.008411  0.003616  0.004149 -0.001832
2023-01-18 -0.004931 -0.004529 -0.006727 -0.015157 -0.003306 -0.015788
2023-01-19 -0.009558 -0.047384 -0.025471 -0.030402  0.005804 -0.007280
2023-01-20 -0.014653  0.007988  0.030820  0.010669  0.012366  0.018629
2023-01-23  0.023939  0.026062 -0.006009  0.026905 -0.000543  0.011999
2023-01-24  0.012398 -0.018712 -0.037157  0.011659 -0.003531 -0.001073
2023-01-25  0.000000  0.000811 -0.016080  0.001115  0.010630  0.000375
2023-01-26 -0.003849 -0.018567  0.012296  0.004332  0.010787  0.010990
2023-01-27 -0.006322  0.002230  0.037515  0.025758 -0.008805  0.002298

,ACGL,AU,BGNE,BMA,BVH,CCU,COLL,CROX,EXAS,GE,HSBC,SPY
Date,,,,,,,,,,,,
2023-01-27,-0.010656,-0.037546,-0.006995,-0.041575,0.015324,-0.032819,-0.006322,0.00223,0.037515,0.025758,-0.008805,0.002298

In [18]:

_df_chg = _df.pct_change().tail(4)
print(f'_df_chg.mean(): {_df_chg.mean()}')
print(f'_df_chg.std(): {_df_chg.std()}')

_df_chg.mean(): ACGL    0.003714
AU     -0.017411
BGNE   -0.008660
BMA    -0.002433
BVH     0.013949
CCU    -0.000421
COLL    0.000557
CROX   -0.008559
EXAS   -0.000856
GE      0.010716
HSBC    0.002270
SPY     0.003147
dtype: float64
_df_chg.std(): ACGL    0.011656
AU      0.016921
BGNE    0.002430
BMA     0.033909
BVH     0.014017
CCU     0.025396
COLL    0.008312
CROX    0.011654
EXAS    0.032634
GE      0.010956
HSBC    0.009979
SPY     0.005408
dtype: float64

In [19]:
print(_df_chg.mean()[:-1].mean())
_df_chg.mean()[:-1]

-0.0006486859823287359

ACGL    0.003714
AU     -0.017411
BGNE   -0.008660
BMA    -0.002433
BVH     0.013949
CCU    -0.000421
COLL    0.000557
CROX   -0.008559
EXAS   -0.000856
GE      0.010716
HSBC    0.002270
dtype: float64