In [ ]:
'''An example file that imports some of the installed modules'''
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
import flake8
from platform import python_version

print("yfinance: ", yf.__file__)
print("python_path: ", sys.executable)
print("python_version: ", python_version())
print("pandas_version: ", pd.__version__)
print("numpy_version: ", np.__version__)
if __name__ == "__main__":
    # If the modules can't be imported, the following print won't happen
    print("Successfully imported the modules!")
# data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30")
symbols = ["SPY", "AAPL"]
data = yf.download(symbols, group_by='tickers')
for symbol in symbols:
    print(symbol)
    print(data[symbol].tail(2), "\n")

In [3]:
sys.path.insert(0, 'C:/Users/ping/MyDrive/py_files/python/py379/')
                    # C:\Users\ping\MyDrive\py_files\python\py379\myUtils.py
from myUtils import download_AdjOHLCV, pickle_dump, pickle_load

verbose=False
filename_pickle = 'df_OHLCV'  # pickled filename
path_pickle_dump = 'C:/Users/ping/Desktop/my_yfinance/'

In [4]:
# download only 'XOM' so date index is just NYSE trading days, 'BTC-USD' trades 24/7 
file_symbols = 'C:/Users/ping/Desktop/my_yfinance/symbol_XOM.txt'
df_XOM = download_AdjOHLCV(file_symbols, verbose=verbose)
df_XOM.tail(2)

++++  read symbols from C:/Users/ping/Desktop/my_yfinance/symbol_XOM.txt  ++++
[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close    Volume
Date
2022-07-26  91.129997  91.279999  89.000000  89.629997  15141200
2022-07-27  90.279999  92.000000  89.400002  91.570000  18018700

In [5]:
# download OHLCV data for symbols in file_symbols 
file_symbols = 'C:/Users/ping/MyDrive/stocks/MktCap2b_AUMtop1200/source/2021_Top1200_MktCap_n_AUM.txt'
# file_symbols = 'C:/Users/ping/Desktop/my_yfinance/symbols_trash.txt'
df_OHLCV = download_AdjOHLCV(file_symbols, verbose=verbose)
df_OHLCV.tail(7)

++++  read symbols from C:/Users/ping/MyDrive/stocks/MktCap2b_AUMtop1200/source/2021_Top1200_MktCap_n_AUM.txt  ++++
[*********************100%***********************]  2365 of 2365 completed

                 ESGV                                                    WB  \
                 Open       High        Low      Close    Volume       Open
Date
2022-07-21  70.080002  70.870003  69.650002  70.870003  188200.0  20.200001
2022-07-22  70.919998  71.160004  69.650002  70.089996  320200.0  20.250000
2022-07-23        NaN        NaN        NaN        NaN       NaN        NaN
2022-07-24        NaN        NaN        NaN        NaN       NaN        NaN
2022-07-25  70.199997  70.199997  69.559998  69.959999  261400.0  19.910000
2022-07-26  69.599998  69.610001  68.870003  69.000000  138200.0  19.980000
2022-07-27  69.809998  71.260002  69.709999  71.000000  179900.0  19.650000

                                                        ...       PFXF  \
                 High        Low      Close     Volume  ...       Open
Date                                                    ...
2022-07-21  20.580000  20.160000  20.500000  1840500.0  ...  18.500000
2022-07-22  20.570000  19.830000  20.010000   544900.0  ...  18.530001
2022-07-23        NaN        NaN        NaN        NaN  ...        NaN
2022-07-24        NaN        NaN        NaN        NaN  ...        NaN
2022-07-25  20.110001  19.620001  19.840000   284600.0  ...  18.559999
2022-07-26  19.980000  19.180000  19.389999   356600.0  ...  18.590000
2022-07-27  20.070000  19.420000  19.990000   468500.0  ...  18.650000

                                                            ADRE             \
                 High        Low      Close    Volume       Open       High
Date
2022-07-21  18.580000  18.410000  18.580000  112700.0  38.750000  39.070000
2022-07-22  18.680000  18.510000  18.580000  153900.0  39.020000  39.020000
2022-07-23        NaN        NaN        NaN       NaN        NaN        NaN
2022-07-24        NaN        NaN        NaN       NaN        NaN        NaN
2022-07-25  18.629999  18.549999  18.600000  135700.0  38.660000  38.849998
2022-07-26  18.650000  18.570000  18.610001  230900.0  38.580002  38.580002
2022-07-27  18.780001  18.610001  18.730000  256200.0  38.820000  39.380001


                  Low      Close  Volume
Date
2022-07-21  38.680000  39.060001  4200.0
2022-07-22  38.250000  38.439999  4400.0
2022-07-23        NaN        NaN     NaN
2022-07-24        NaN        NaN     NaN
2022-07-25  38.660000  38.830002  3300.0
2022-07-26  38.349998  38.349998  1100.0
2022-07-27  38.650002  39.380001  7900.0

[7 rows x 11825 columns]

In [6]:
# reindex df_OHLCV to XOM's index so it has only NYSE trading days 
df_OHLCV = df_OHLCV.loc[df_XOM.index]
df_OHLCV.tail(7)

                 ESGV                                                    WB  \
                 Open       High        Low      Close    Volume       Open
Date
2022-07-19  68.410004  69.540001  68.199997  69.480003  317900.0  20.230000
2022-07-20  69.570000  70.339996  69.389999  70.050003  695600.0  20.490000
2022-07-21  70.080002  70.870003  69.650002  70.870003  188200.0  20.200001
2022-07-22  70.919998  71.160004  69.650002  70.089996  320200.0  20.250000
2022-07-25  70.199997  70.199997  69.559998  69.959999  261400.0  19.910000
2022-07-26  69.599998  69.610001  68.870003  69.000000  138200.0  19.980000
2022-07-27  69.809998  71.260002  69.709999  71.000000  179900.0  19.650000

                                                        ...       PFXF  \
                 High        Low      Close     Volume  ...       Open
Date                                                    ...
2022-07-19  20.660000  20.010000  20.469999   567100.0  ...  18.209999
2022-07-20  20.559999  19.850000  20.080000   362100.0  ...  18.420000
2022-07-21  20.580000  20.160000  20.500000  1840500.0  ...  18.500000
2022-07-22  20.570000  19.830000  20.010000   544900.0  ...  18.530001
2022-07-25  20.110001  19.620001  19.840000   284600.0  ...  18.559999
2022-07-26  19.980000  19.180000  19.389999   356600.0  ...  18.590000
2022-07-27  20.070000  19.420000  19.990000   468500.0  ...  18.650000

                                                             ADRE             \
                 High        Low      Close     Volume       Open       High
Date
2022-07-19  18.389999  18.209999  18.360001   174600.0  38.349998  38.680000
2022-07-20  18.480000  18.330000  18.450001  1045700.0  37.700001  38.630001
2022-07-21  18.580000  18.410000  18.580000   112700.0  38.750000  39.070000
2022-07-22  18.680000  18.510000  18.580000   153900.0  39.020000  39.020000
2022-07-25  18.629999  18.549999  18.600000   135700.0  38.660000  38.849998
2022-07-26  18.650000  18.570000  18.610001   230900.0  38.580002  38.580002
2022-07-27  18.780001  18.610001  18.730000   256200.0  38.820000  39.380001


                  Low      Close  Volume
Date
2022-07-19  38.290001  38.669998  1500.0
2022-07-20  37.700001  38.619999  2200.0
2022-07-21  38.680000  39.060001  4200.0
2022-07-22  38.250000  38.439999  4400.0
2022-07-25  38.660000  38.830002  3300.0
2022-07-26  38.349998  38.349998  1100.0
2022-07-27  38.650002  39.380001  7900.0

[7 rows x 11825 columns]

In [7]:
print(f'Full path to pickled df_OHLCV:  {path_pickle_dump}{filename_pickle}')
# pickle file df_OHLCV
pickle_dump(df_OHLCV, path_pickle_dump, filename_pickle, verbose=verbose)
# load pickled file
df_pickled = pickle_load(path_pickle_dump, filename_pickle, verbose=verbose)
print(f"df_pickled['BTC-USD'].tail(7):")
df_pickled['BTC-USD'].tail(7)

Full path to pickled df_OHLCV:  C:/Users/ping/Desktop/my_yfinance/df_OHLCV
df_pickled['BTC-USD'].tail(7):

,Open,High,Low,Close,Volume
Date,,,,,
2022-07-19,22467.849609,23666.962891,21683.406250,23389.433594,4.876520e+10
2022-07-20,23393.191406,24196.818359,23009.949219,23231.732422,4.293255e+10
2022-07-21,23233.201172,23388.322266,22431.148438,23164.628906,3.363101e+10
2022-07-22,23163.751953,23671.927734,22603.416016,22714.978516,3.142156e+10
2022-07-25,22607.156250,22649.121094,21361.642578,21361.701172,3.557456e+10
2022-07-26,21361.121094,21361.121094,20776.816406,21239.753906,2.862467e+10
2022-07-27,NaN,NaN,NaN,NaN,NaN