In [1]:
import sys
import pandas as pd
import numpy as np
import yfinance as yf
from platform import python_version
sys.path.insert(0, 'C:/Users/ping/MyDrive/py_files/python/py379/')
from myUtils import download_AdjOHLCV, pickle_dump, pickle_load
verbose=False

In [2]:
my_path = 'C:/Users/ping/MyDrive/stocks/MktCap2b_AUMtop1200/'
path_data_dump = my_path + "VSCode_dump/"
path_symbols_file = my_path + "source/"
filename_pickle = 'df_OHLCV'  # pickled filename

# file_symbols = path_symbols_file + "2021_Top1200_MktCap_n_AUM.txt"
file_symbols = path_symbols_file + "test_symbols_no_XOM.txt"

In [3]:
index_symbol = "XOM"  # use Exxon's date index to re-index other symbols
df_XOM = yf.download(index_symbol)
# download OHLCV data for symbols in file_symbols 
df_OHLCV, symbols = download_AdjOHLCV(file_symbols, verbose=verbose)
print(f'len(df_OHLCV) before reindex to df_XOM.index: {len(df_OHLCV)}')
print(f'symbols:  {symbols}')
df_OHLCV

[*********************100%***********************]  1 of 1 completed
++++  read symbols from C:/Users/ping/MyDrive/stocks/MktCap2b_AUMtop1200/source/test_symbols_no_XOM.txt  ++++
[*********************100%***********************]  3 of 3 completed
len(df_OHLCV) before reindex to df_XOM.index: 11387
symbols:  ['AAPL', 'BTC-USD', 'ETH-USD']

                ETH-USD                                                       \
                   Open         High          Low        Close        Volume
Date
1980-12-12          NaN          NaN          NaN          NaN           NaN
1980-12-15          NaN          NaN          NaN          NaN           NaN
1980-12-16          NaN          NaN          NaN          NaN           NaN
1980-12-17          NaN          NaN          NaN          NaN           NaN
1980-12-18          NaN          NaN          NaN          NaN           NaN
...                 ...          ...          ...          ...           ...
2022-07-24  1549.222534  1654.428711  1548.671143  1599.476685  1.721785e+10
2022-07-25  1599.157227  1605.336914  1445.383423  1445.383423  2.058506e+10
2022-07-26  1445.151123  1445.151123  1362.951660  1441.806763  1.823856e+10
2022-07-27  1443.726807  1636.799438  1423.618896  1636.232666  2.300752e+10
2022-07-28          NaN          NaN          NaN          NaN           NaN

                 BTC-USD                                            \
                    Open          High           Low         Close
Date
1980-12-12           NaN           NaN           NaN           NaN
1980-12-15           NaN           NaN           NaN           NaN
1980-12-16           NaN           NaN           NaN           NaN
1980-12-17           NaN           NaN           NaN           NaN
1980-12-18           NaN           NaN           NaN           NaN
...                  ...           ...           ...           ...
2022-07-24  22465.509766  22974.001953  22306.839844  22609.164062
2022-07-25  22607.156250  22649.121094  21361.642578  21361.701172
2022-07-26  21361.121094  21361.121094  20776.816406  21239.753906
2022-07-27  21244.169922  22986.529297  21070.806641  22930.548828
2022-07-28           NaN           NaN           NaN           NaN

                                AAPL                                      \
                  Volume        Open        High         Low       Close
Date
1980-12-12           NaN    0.100178    0.100614    0.100178    0.100178
1980-12-15           NaN    0.095388    0.095388    0.094952    0.094952
1980-12-16           NaN    0.088418    0.088418    0.087983    0.087983
1980-12-17           NaN    0.090160    0.090596    0.090160    0.090160
1980-12-18           NaN    0.092774    0.093210    0.092774    0.092774
...                  ...         ...         ...         ...         ...
2022-07-24  2.356550e+10         NaN         NaN         NaN         NaN
2022-07-25  3.557456e+10  154.009995  155.039993  152.279999  152.949997
2022-07-26  2.862467e+10  152.259995  153.089996  150.800003  151.600006
2022-07-27  3.175896e+10  152.580002  157.330002  152.160004  156.789993
2022-07-28           NaN  156.979996  157.639999  154.410004  157.350006


                 Volume
Date
1980-12-12  469033600.0
1980-12-15  175884800.0
1980-12-16  105728000.0
1980-12-17   86441600.0
1980-12-18   73449600.0
...                 ...
2022-07-24          NaN
2022-07-25   53623900.0
2022-07-26   55138700.0
2022-07-27   78620700.0
2022-07-28   80659400.0

[11387 rows x 15 columns]

In [4]:
df_OHLCV = df_OHLCV.reindex(df_XOM.index, fill_value='NaN')
print(f'len(df_OHLCV) after reindex to df_XOM.index: {len(df_OHLCV)}')
df_OHLCV.tail(10)

len(df_OHLCV) after reindex to df_XOM.index: 15248

                ETH-USD                                                        \
                   Open         High          Low        Close         Volume
Date
2022-07-15  1191.674805  1275.778198  1182.903198   1233.12915  17411448225.0
2022-07-18   1338.80603  1578.717896   1338.80603  1578.717896  27440420623.0
2022-07-19  1578.383911  1607.033081  1501.797485   1542.97522  27753529276.0
2022-07-20  1542.954346  1612.645752  1500.803223  1520.200684  22942708340.0
2022-07-21  1520.374512  1595.761963  1472.185425  1576.749512  20009556587.0
2022-07-22  1576.745361  1641.209229  1523.641724  1537.405151  18926100582.0
2022-07-25  1599.157227  1605.336914  1445.383423  1445.383423  20585056021.0
2022-07-26  1445.151123  1445.151123   1362.95166  1441.806763  18238563509.0
2022-07-27  1443.726807  1636.799438  1423.618896  1636.232666  23007524016.0
2022-07-28          NaN          NaN          NaN          NaN            NaN

                 BTC-USD                                            \
                    Open          High           Low         Close
Date
2022-07-15   20573.15625  21138.244141       20397.0  20836.328125
2022-07-18  20781.912109  22633.033203  20781.912109  22485.689453
2022-07-19  22467.849609  23666.962891   21683.40625  23389.433594
2022-07-20  23393.191406  24196.818359  23009.949219  23231.732422
2022-07-21  23233.201172  23388.322266  22431.148438  23164.628906
2022-07-22  23163.751953  23671.927734  22603.416016  22714.978516
2022-07-25   22607.15625  22649.121094  21361.642578  21361.701172
2022-07-26  21361.121094  21361.121094  20776.816406  21239.753906
2022-07-27  21244.169922  22986.529297  21070.806641  22930.548828
2022-07-28           NaN           NaN           NaN           NaN

                                 AAPL                                      \
                   Volume        Open        High         Low       Close
Date
2022-07-15  25905575359.0  149.779999  150.860001  148.199997  150.169998
2022-07-18  39974475562.0  150.740005  151.570007  146.699997  147.070007
2022-07-19  48765202697.0  147.919998  151.229996  146.910004       151.0
2022-07-20  42932549127.0  151.119995  153.720001  150.369995  153.039993
2022-07-21  33631012204.0       154.5  155.570007  151.940002  155.350006
2022-07-22  31421555646.0  155.389999  156.279999  153.410004  154.089996
2022-07-25  35574561406.0  154.009995  155.039993  152.279999  152.949997
2022-07-26  28624673855.0  152.259995  153.089996  150.800003  151.600006
2022-07-27  31758955233.0  152.580002  157.330002  152.160004  156.789993
2022-07-28            NaN  156.979996  157.639999  154.410004  157.350006


                Volume
Date
2022-07-15  76030800.0
2022-07-18  81420900.0
2022-07-19  82982400.0
2022-07-20  64823400.0
2022-07-21  65086600.0
2022-07-22  66625400.0
2022-07-25  53623900.0
2022-07-26  55138700.0
2022-07-27  78620700.0
2022-07-28  80659400.0

In [5]:
print(f'Full path to pickled df_OHLCV:  {path_data_dump}{filename_pickle}')
# pickle file df_OHLCV
pickle_dump(df_OHLCV, path_data_dump, filename_pickle, verbose=verbose)
pickle_dump(symbols, path_data_dump, 'symbols', verbose=verbose)
# load pickled file
symbols_pickled = pickle_load(path_data_dump, 'symbols', verbose=verbose)
print(f'symbols_pickled: {symbols_pickled}')
df_pickled = pickle_load(path_data_dump, filename_pickle, verbose=verbose)
print(f"df_pickled['BTC-USD'].tail(7):")
df_pickled['BTC-USD'].tail(7)

Full path to pickled df_OHLCV:  C:/Users/ping/MyDrive/stocks/MktCap2b_AUMtop1200/VSCode_dump/df_OHLCV
symbols_pickled: ['AAPL', 'BTC-USD', 'ETH-USD']
df_pickled['BTC-USD'].tail(7):

,Open,High,Low,Close,Volume
Date,,,,,
2022-07-20,23393.191406,24196.818359,23009.949219,23231.732422,42932549127.0
2022-07-21,23233.201172,23388.322266,22431.148438,23164.628906,33631012204.0
2022-07-22,23163.751953,23671.927734,22603.416016,22714.978516,31421555646.0
2022-07-25,22607.15625,22649.121094,21361.642578,21361.701172,35574561406.0
2022-07-26,21361.121094,21361.121094,20776.816406,21239.753906,28624673855.0
2022-07-27,21244.169922,22986.529297,21070.806641,22930.548828,31758955233.0
2022-07-28,NaN,NaN,NaN,NaN,NaN

In [6]:
print(f"df_pickled['AAPL'].tail(7):")
df_pickled['AAPL'].tail(7)

df_pickled['AAPL'].tail(7):

                  Open        High         Low       Close      Volume
Date
2022-07-20  151.119995  153.720001  150.369995  153.039993  64823400.0
2022-07-21       154.5  155.570007  151.940002  155.350006  65086600.0
2022-07-22  155.389999  156.279999  153.410004  154.089996  66625400.0
2022-07-25  154.009995  155.039993  152.279999  152.949997  53623900.0
2022-07-26  152.259995  153.089996  150.800003  151.600006  55138700.0
2022-07-27  152.580002  157.330002  152.160004  156.789993  78620700.0
2022-07-28  156.979996  157.639999  154.410004  157.350006  80659400.0