In [1]:
import sys
import pandas as pd
sys.path.append("C:/Users/ping/MyDrive/py_files/python/py379/")
from myUtils import pickle_load, pickle_dump
path_pickle_dump = 'C:/Users/ping/OneDrive/Documents/jenn_bb_sales/'
pd.set_option('max_colwidth', 12, 'display.max_columns', 18, 'display.width', 1200, 'display.max_rows',100)

In [2]:
# # read Square csv and pickle df
# df1 = pd.read_csv('C:/Users/ping/OneDrive/Documents/jenn_bb_sales/items-2021-02-01-2021-10-02.csv')
# df2 = pd.read_csv('C:/Users/ping/OneDrive/Documents/jenn_bb_sales/items-2021-09-06-2022-09-07.csv')
# df = pd.concat([df1, df2])
# df = df.drop_duplicates()  # drop overlap between the 2 csv files
# # df.sort_values(by=['Date', 'Time'])
# # df.reset_index(drop=True)  # create new index
# df = df.sort_values(by=['Date', 'Time'])
# df = df.reset_index(drop=True)  # create new index
# pickle_dump(df, path_pickle_dump, 'df_sq_download')
# df.shape

In [3]:
# # clean data
# df = pickle_load(path_pickle_dump, 'df_sq_download')
# df_shape_before_clean = df.shape
# # select only these columns
# df = df[['Date', 'Time', 'Category', 'Item', 'Qty',
#        'Price Point Name', 'Gross Sales',
#        'Discounts', 'Net Sales', 'Tax', 
#        'Device Name', 'Notes', 'Event Type', 
#        'Dining Option', 'Customer Name']]
# # strip leading $, convert from object to float
# cols_to_clean = ['Gross Sales', 'Discounts', 'Net Sales', 'Tax']
# for col in cols_to_clean:
#   df[col] = df[col].str.split('$').str[-1]  # strip leading $
#   df[col] = pd.to_numeric(df[col])  # convert from object to float
# # remove whole sale customer "Canyon Coffee"
# print(f'df.shape before removing whole sale customer: {df.shape}')
# df = df[df['Customer Name'] != "Canyon Coffee"]
# print(f'df.shape after removing whole sale customer:  {df.shape}')
# df_shape_after_clean = df.shape
# pickle_dump(df, path_pickle_dump, 'df_clean')
# print(f'df.shape before clean:  {df_shape_before_clean}')
# print(f'df.shape after clean:   {df_shape_after_clean}')

In [4]:
# df = pickle_load(path_pickle_dump, 'df_clean')
# print(f'df.shape: {df.shape}')

In [5]:
# # sum daily sales into a series
# gross = df.groupby('Date')['Gross Sales'].sum()
# df_gross = pd.DataFrame(gross)
# df_gross.index = pd.to_datetime(df_gross.index)  # change index to datetime before concat

In [6]:
# # Los Angeles temperature and precipitation data
# # https://www.ncei.noaa.gov/cdo-web/datatools/findstation
# df_temp = pd.read_csv('C:/Users/ping/OneDrive/Documents/jenn_bb_sales/la_temp.csv')
# df_temp = df_temp.set_index("Date")
# df_temp.index = pd.to_datetime(df_temp.index)  # change index to datetime before concat

In [7]:
# df_gross_temp = pd.concat([df_gross, df_temp], axis=1, join='inner')
# pickle_dump(df_gross_temp, path_pickle_dump, 'df_gross_temp')

In [8]:
df_gross_temp = pickle_load(path_pickle_dump, 'df_gross_temp')
df_gross_temp

            Gross Sales  Prcp  Tmax  DoW
Date
2021-07-08         30.0   0.0    84  Thu
2021-07-09        859.0   0.0    86  Fri
2021-07-10       1205.0   0.0    85  Sat
2021-07-16        847.0   0.0    82  Fri
2021-07-17       1026.0   0.0    85  Sat
...                 ...   ...   ...  ...
2022-08-20        768.0   0.0    82  Sat
2022-08-21        935.5   0.0    80  Sun
2022-09-01         64.0   0.0    96  Thu
2022-09-02        400.0   0.0    96  Fri
2022-09-03        589.0   0.0    98  Sat

[185 rows x 4 columns]