In [138]:
import sys
import pandas as pd
sys.path.append("C:/Users/ping/MyDrive/py_files/python/py379/")
from myUtils import pickle_load, pickle_dump
pd.set_option('max_colwidth', 12, 'display.max_columns', 18, 'display.width', 1200, 'display.max_rows',100)
INPUT_DIR = 'C:/Users/ping/OneDrive/Documents/jenn_bb_sales'
path_pickle_dump = f'{INPUT_DIR}/'

In [139]:
# read Square csv and pickle df
dfw = pd.read_csv(f'{INPUT_DIR}/items-2021-02-01-2021-10-02.csv')
df2 = pd.read_csv(f'{INPUT_DIR}/items-2021-09-06-2022-09-07.csv')
df = pd.concat([dfw, df2])
df = dfw.drop_duplicates()  # drop overlap between the 2 csv files
df = dfw.sort_values(by=['Date', 'Time'])
df = dfw.reset_index(drop=True)  # create new index
pickle_dump(df, path_pickle_dump, 'df_sq_download')
print(f'dfw.shape: {df.shape}')

dfw.shape: (3583, 27)

In [140]:
# delete dfw, df2 from RAM
import gc
del [[dfw,df2]]
gc.collect()
dfw=pd.DataFrame()
df2=pd.DataFrame()

In [141]:
df

            Date      Time    Time Zone  Category         Item  Qty Price Point Name  SKU  Modifiers Applied  ... Event Type     Location Dining Option  Customer ID Customer Name Customer Reference ID Unit Count Itemization Type
0     2021-10-01  11:49:17  Pacific ...      Food          ccc  2.0      Regular      NaN          NaN        ...    Payment  Bakers B...     For Here   K80B4X3M...  Adriana ...           NaN            ea     2         Item
1     2021-10-01  11:49:17  Pacific ...      Food      jam bar  1.0      Regular      NaN          NaN        ...    Payment  Bakers B...     For Here   K80B4X3M...  Adriana ...           NaN            ea     1         Item
2     2021-10-01  11:38:34  Pacific ...      None  Custom A...  1.0          NaN      NaN          NaN        ...    Payment  Bakers B...     For Here   R0F8BN95...  Alex Futter           NaN            ea     1          NaN
3     2021-10-01  11:38:34  Pacific ...      Food     2x choc   1.0      Regular      NaN          NaN        ...    Payment  Bakers B...     For Here   R0F8BN95...  Alex Futter           NaN            ea     1         Item
4     2021-10-01  11:26:38  Pacific ...      Food     ling mut  2.0      Regular      NaN          NaN        ...    Payment  Bakers B...     For Here   NV2GX933...  Jihaari ...   11ec48fe...            ea     2         Item
...          ...       ...          ...       ...          ...  ...          ...      ...          ...        ...        ...          ...          ...           ...          ...           ...           ...   ...          ...
3578  2021-07-08  17:32:54  Pacific ...      Food  Jarred p... -1.0      Regular      NaN          NaN        ...     Refund  Bakers B...     For Here           NaN          NaN           NaN            ea    -1         Item
3579  2021-07-08  17:32:35  Pacific ...  Beverage    sparkling -1.0      Regular      NaN          NaN        ...     Refund  Bakers B...     For Here           NaN          NaN           NaN            ea    -1         Item
3580  2021-07-08  17:31:47  Pacific ...  Beverage    sparkling  1.0      Regular      NaN          NaN        ...    Payment  Bakers B...     For Here   ZA8CTENP...  Jennifer...   11ec3db2...            ea     1         Item
3581  2021-07-08  17:31:29  Pacific ...      Food  Jarred p...  1.0      Regular      NaN          NaN        ...    Payment  Bakers B...     For Here   ZA8CTENP...  Jennifer...   11ec3db2...            ea     1         Item
3582  2021-07-08  17:31:07  Pacific ...      Food    choc crx   1.0      Regular      NaN          NaN        ...    Payment  Bakers B...        To Go   ZA8CTENP...  Jennifer...   11ec3db2...            ea     1         Item

[3583 rows x 27 columns]

In [142]:
print(f'df.Date.tail(1).values[0]:       {df.Date.tail(1).values[0]}')
print(f'type(df.Date.tail(1).values[0]): {type(df.Date.tail(1).values[0])}')

df.Date.tail(1).values[0]:       2021-07-08
type(df.Date.tail(1).values[0]): <class 'str'>

In [143]:
# Los Angeles temperature and precipitation data
# https://www.ncei.noaa.gov/cdo-web/datatools/findstation

dfw = pd.read_csv(f'{INPUT_DIR}/la_weather_2021-01-01_2022-09-28.csv')
dfw = dfw.set_index("DATE")
dfw.index = pd.to_datetime(dfw.index)  # change index to datetime before concat
dfw

                STATION         NAME  AWND    PGTM  PRCP  TAVG  TMAX  TMIN   WDF2   WDF5  WSF2  WSF5  WT01  WT02  WT08  DOW
DATE
2021-01-01  USW00093134  LOS ANGE...  0.22     NaN   0.0   NaN    70    45  250.0  260.0   6.0  11.0   NaN   NaN   1.0  Fri
2021-01-02  USW00093134  LOS ANGE...  0.45     NaN   0.0   NaN    66    47  270.0  270.0   6.9  10.1   1.0   NaN   1.0  Sat
2021-01-03  USW00093134  LOS ANGE...  1.12     NaN   0.0   NaN    64    50  270.0  260.0   6.9  12.1   1.0   NaN   1.0  Sun
2021-01-04  USW00093134  LOS ANGE...  0.89     NaN   0.0   NaN    62    48  260.0  270.0   8.9  14.1   1.0   NaN   1.0  Mon
2021-01-05  USW00093134  LOS ANGE...  0.67     NaN   0.0   NaN    63    48  260.0  270.0   8.1  11.0   1.0   1.0   1.0  Tue
...                 ...          ...   ...     ...   ...   ...   ...   ...    ...    ...   ...   ...   ...   ...   ...  ...
2022-09-24  USW00093134  LOS ANGE...  1.12     NaN   0.0   NaN    86    66  260.0  250.0   8.9  15.0   NaN   NaN   1.0  Sat
2022-09-25  USW00093134  LOS ANGE...  1.12     NaN   0.0   NaN    86    66  260.0  260.0   8.9  14.1   NaN   NaN   NaN  Sun
2022-09-26  USW00093134  LOS ANGE...  1.12     NaN   0.0   NaN    86    66  270.0  260.0   8.9  14.1   NaN   NaN   NaN  Mon
2022-09-27  USW00093134  LOS ANGE...  1.34  1338.0   0.0   NaN    88    66  260.0  260.0   8.1  12.1   1.0   NaN   NaN  Tue
2022-09-28  USW00093134  LOS ANGE...   NaN     NaN   0.0   NaN    89    67    NaN    NaN   NaN   NaN   NaN   NaN   NaN  Wed

[636 rows x 16 columns]

In [144]:
dfw = dfw.reset_index()  # index in no longer the Date column
dfw['DATE'] = dfw['DATE'].dt.strftime('%Y-%m-%d')  # change Date from datetime to str
dfw.rename(columns={dfw.columns[0]:'Date'}, inplace=True)  # rename Date to Date for dataframe merge
dfw

           Date      STATION         NAME  AWND    PGTM  PRCP  TAVG  TMAX  TMIN   WDF2   WDF5  WSF2  WSF5  WT01  WT02  WT08  DOW
0    2021-01-01  USW00093134  LOS ANGE...  0.22     NaN   0.0   NaN    70    45  250.0  260.0   6.0  11.0   NaN   NaN   1.0  Fri
1    2021-01-02  USW00093134  LOS ANGE...  0.45     NaN   0.0   NaN    66    47  270.0  270.0   6.9  10.1   1.0   NaN   1.0  Sat
2    2021-01-03  USW00093134  LOS ANGE...  1.12     NaN   0.0   NaN    64    50  270.0  260.0   6.9  12.1   1.0   NaN   1.0  Sun
3    2021-01-04  USW00093134  LOS ANGE...  0.89     NaN   0.0   NaN    62    48  260.0  270.0   8.9  14.1   1.0   NaN   1.0  Mon
4    2021-01-05  USW00093134  LOS ANGE...  0.67     NaN   0.0   NaN    63    48  260.0  270.0   8.1  11.0   1.0   1.0   1.0  Tue
..          ...          ...          ...   ...     ...   ...   ...   ...   ...    ...    ...   ...   ...   ...   ...   ...  ...
631  2022-09-24  USW00093134  LOS ANGE...  1.12     NaN   0.0   NaN    86    66  260.0  250.0   8.9  15.0   NaN   NaN   1.0  Sat
632  2022-09-25  USW00093134  LOS ANGE...  1.12     NaN   0.0   NaN    86    66  260.0  260.0   8.9  14.1   NaN   NaN   NaN  Sun
633  2022-09-26  USW00093134  LOS ANGE...  1.12     NaN   0.0   NaN    86    66  270.0  260.0   8.9  14.1   NaN   NaN   NaN  Mon
634  2022-09-27  USW00093134  LOS ANGE...  1.34  1338.0   0.0   NaN    88    66  260.0  260.0   8.1  12.1   1.0   NaN   NaN  Tue
635  2022-09-28  USW00093134  LOS ANGE...   NaN     NaN   0.0   NaN    89    67    NaN    NaN   NaN   NaN   NaN   NaN   NaN  Wed

[636 rows x 17 columns]

In [145]:
# dfw.loc[dfw['Date'] == '2021-07-08']
dfw.loc[dfw['Date'] == '2021-10-01']

           Date      STATION         NAME  AWND  PGTM  PRCP  TAVG  TMAX  TMIN   WDF2   WDF5  WSF2  WSF5  WT01  WT02  WT08  DOW
273  2021-10-01  USW00093134  LOS ANGE...  1.12   NaN   0.0   NaN    90    59  260.0  260.0   8.1  13.0   NaN   NaN   1.0  Fri

In [146]:
df = df.merge(dfw, how='left', on='Date')
df = df.sort_values(by=['Date', 'Time'])
df.reset_index(drop=True, inplace=True)
pickle_dump(df, path_pickle_dump, 'df_grSale_weather')
df = pickle_load(path_pickle_dump, 'df_grSale_weather')
df

            Date      Time    Time Zone  Category         Item  Qty Price Point Name  SKU  Modifiers Applied  ... TMIN   WDF2   WDF5 WSF2  WSF5 WT01 WT02 WT08  DOW
0     2021-07-08  17:31:07  Pacific ...      Food    choc crx   1.0      Regular      NaN          NaN        ...   68  270.0  270.0  8.1  12.1  NaN  NaN  NaN  Thu
1     2021-07-08  17:31:29  Pacific ...      Food  Jarred p...  1.0      Regular      NaN          NaN        ...   68  270.0  270.0  8.1  12.1  NaN  NaN  NaN  Thu
2     2021-07-08  17:31:47  Pacific ...  Beverage    sparkling  1.0      Regular      NaN          NaN        ...   68  270.0  270.0  8.1  12.1  NaN  NaN  NaN  Thu
3     2021-07-08  17:32:35  Pacific ...  Beverage    sparkling -1.0      Regular      NaN          NaN        ...   68  270.0  270.0  8.1  12.1  NaN  NaN  NaN  Thu
4     2021-07-08  17:32:54  Pacific ...      Food  Jarred p... -1.0      Regular      NaN          NaN        ...   68  270.0  270.0  8.1  12.1  NaN  NaN  NaN  Thu
...          ...       ...          ...       ...          ...  ...          ...      ...          ...        ...  ...    ...    ...  ...   ...  ...  ...  ...  ...
3578  2021-10-01  11:26:38  Pacific ...      Food      jam bar  1.0      Regular      NaN          NaN        ...   59  260.0  260.0  8.1  13.0  NaN  NaN  1.0  Fri
3579  2021-10-01  11:38:34  Pacific ...      None  Custom A...  1.0          NaN      NaN          NaN        ...   59  260.0  260.0  8.1  13.0  NaN  NaN  1.0  Fri
3580  2021-10-01  11:38:34  Pacific ...      Food     2x choc   1.0      Regular      NaN          NaN        ...   59  260.0  260.0  8.1  13.0  NaN  NaN  1.0  Fri
3581  2021-10-01  11:49:17  Pacific ...      Food          ccc  2.0      Regular      NaN          NaN        ...   59  260.0  260.0  8.1  13.0  NaN  NaN  1.0  Fri
3582  2021-10-01  11:49:17  Pacific ...      Food      jam bar  1.0      Regular      NaN          NaN        ...   59  260.0  260.0  8.1  13.0  NaN  NaN  1.0  Fri

[3583 rows x 43 columns]

In [147]:
df.columns

Index(['Date', 'Time', 'Time Zone', 'Category', 'Item', 'Qty', 'Price Point Name', 'SKU', 'Modifiers Applied', 'Gross Sales', 'Discounts', 'Net Sales', 'Tax', 'Transaction ID', 'Payment ID', 'Device Name', 'Notes', 'Details', 'Event Type', 'Location', 'Dining Option', 'Customer ID', 'Customer Name', 'Customer Reference ID', 'Unit', 'Count', 'Itemization Type', 'STATION', 'NAME', 'AWND', 'PGTM', 'PRCP', 'TAVG', 'TMAX', 'TMIN', 'WDF2', 'WDF5', 'WSF2', 'WSF5', 'WT01', 'WT02', 'WT08', 'DOW'], dtype='object')